[2019-11-04 09:03] pietermarsman commented on #162
Hi @3y3y3y, thanks for your question. I'm planning on adding an example for this to the documentation. If that's done I'm considering this issue closed.

If you have any specific problems you could open a new issue. Don't forget to add an example PDF file and the code you are using.

[2019-11-06 20:47] #313 closed

[2019-11-07 06:54] #327 closed

[2019-11-07 20:12] #118 closed

[2019-11-07 20:12] #171 closed

[2019-11-07 20:12] #178 closed

[2019-11-07 20:12] #199 closed

[2019-11-08 16:06] lithiumFlower opened #334 "Version pdfminer.six 20191107 incorrectly orders some text"
Upgrading from version 20181108 to 20191107 pdfminer parses some words out of order.
In version 20181108 the ordering was correct, see first output below.
In version 20191107 the ordering is incorrect, see second output below.

In this pdf: http://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf

The fourth bullet point ends with the word "anyone".  When parsing, "anyone" now ends up at the

[2019-11-08 16:35] pietermarsman commented on #334
Hi @lithiumFlower, thanks for raising this issue. I think this is caused by PR #315, which improved the speedup of layout analysis by 20% to 500%, depending on the PDF. It should not have deteriorated the result, but in this case it clearly does.

I will try to pinpoint what's going wrong.

[2019-11-09 10:26] pietermarsman commented on #334
I've use `git bisect` and 44b223cf0a3b29bc1f0c3ece71c483a22b71614d is the first commit that has this bug so my suspect about PR #315 is right.

[2019-11-09 10:47] pietermarsman commented on #334
Aha! I've figured it out. PR #315 changes the distance list. @mikkkee, you might want to see this.

- old version starts with `(0, dist(obj1, obj2), ...)`
- new version starts with `(True, dist(obj1, obj2), ...)`

In the new version it will always prefer grouping text boxes that have not been grouped yet.

[2019-11-10 11:17] pietermarsman commented on #108
I'm closing this because I think the code is correct:

- If there is an xref, no exception is thrown
- If there is no xref
    - and `fallback` is false, raise a PDFSyntaxError
    - and `fallback` is `true`, use `PDFXRefFallback`

[2019-11-10 11:17] #108 closed

[2019-11-10 11:18] #334 closed

[2019-11-10 11:57] pietermarsman commented on #334
It is fixed in the latest version!

[2019-11-10 13:17] pietermarsman commented on #245
Closing this because of no response and the following code is working for me:

[code]

[2019-11-10 13:17] #245 closed

[2019-11-10 13:28] pietermarsman commented on #128
Hi @ivan985, the speed of pdfminer.six heavily depends on the content of the pdf. For example, the layout algorithm is much faster when it can early-on group characters together into words.

Try tweaking the `char_margin`, `word_margin` and `line_margin` to improve the output of the results. I suspect that this will also influence the speed of parsing.

[2019-11-10 13:28] #128 closed

[2019-11-10 14:57] pietermarsman commented on #137
Closing this because answered and inactive.

[2019-11-10 14:57] #137 closed

[2019-11-10 15:02] pietermarsman commented on #211
Closing because it is a duplicate of #202

[2019-11-10 15:02] #211 closed

[2019-11-11 15:30] lithiumFlower commented on #334
I'm not used to open source moving quickly - thanks @pietermarsman for the fix

[2019-11-11 15:53] pietermarsman commented on #334
👍

[2019-11-11 17:34] typhoon71 opened #336 "Extraction from pdf forms"
Not really a feature request, but since I noticed the project being more active lately I'd like to ask if some features will be documented more.
In particular I'd like some more info about extraction from pdf forms (fillable, precompiled, multichoice, ..) and also on how to decode/cope  with some non standard text (like non utf8 chars).
Right now I'm using some example code found on stack ovverflo

[2019-11-14 06:39] kensouchen commented on #281
Hi, I found a public document for my case:

https://www.asx.com.au/asxpdf/20191112/pdf/44bh81lfzfxzcf.pdf

in this PDF. if you check the LTTextBox. you will see

[code]
These two are overlapping each other vertically....somehow.

And when checking the LTChars, the numbers are recognized with a height of 57.. whereas the bold large characters **Before previous day** only have a height of 16... I th

[2019-11-15 21:30] pietermarsman commented on #336
Hi @typhoon71, I am not aware of anyone planning to improve dthe documentation on pdf form extraction. I don't have any experience with it so I can't write it myself. If you have some small examples, feel free to share, and perhaps we can add those to the documentation.

[2019-11-16 13:36] callesg opened #337 "Added text colors to the loose html conversion"
I was surprised to find that the html text had no colors after conversion.
I made a patch to take the colors from the pdf and add them to the loose html conversion.

[code]

[2019-11-17 14:03] pietermarsman commented on #337
Hi @callesg, thanks for the suggestion and patch.

I'm not sure what the big selling-point of the `HTMLConverter` is. Do you use the html output of pdfminer.six? What are you using it for?

[2019-11-17 14:20] pietermarsman commented on #110
I'm interpreting this issue as: are there ways we can improve the grouping of character objects.

Currently the `word_margin` takes the width (or height) of the character bounding boxes into account. What other parameters can we use to make its value more dynamic? DBScan takes the local density into account but I'm not sure if that makes sense for characters.

We could introduce an `word_margin='a

[2019-11-17 14:31] pietermarsman commented on #130
I'm having trouble replicating this issue with the latest version of pdfminer.six. I've tested it with the PDF from https://github.com/euske/pdfminer/issues/39.

[code]

@mkudamatsu if this is still important to you, could you share the pdf that you have trouble with?

[2019-11-17 14:33] pietermarsman commented on #136
@rahul-pande @amit-uc could you share the PDF you are experiencing this issue with?

[2019-11-17 14:37] pietermarsman commented on #140
There is no generic way in pdfminer.six to ignore formulas. This is because the formulas are made up of the same building blocks as the rest of the pdf: characters, lines and other geometrical shapes.

If you have a specific pdf in mind you could check the fontsize or the font type, maybe these are different for the formulas.

[2019-11-17 14:37] #140 closed

[2019-11-17 14:41] pietermarsman commented on #143
The requirement for pycrypto was updated to pycryptodome in fe21725f07ee9511a5c5536d34c18194c12989ee. Does this fix the problem? What command are you using to test this?

[2019-11-17 15:07] netbusxp commented on #309
@pietermarsman hi these days when i extract pdf i met a question
[009-000682-东方电子：2009年年度报告.PDF](https://github.com/pdfminer/pdfminer.six/files/3855705/009-000682-.2009.PDF)
Traceback (most recent call last):
  File "D:/upan/pdfminer.six-20181108/tools/trans.py", line 37, in <module>
    get_mulu_text1(r'009-000682-东方电子：2009年年度报告.PDF')
  File "D:/upan/pdfminer.six-20181108/tools/trans.py", line 25

[2019-11-17 15:08] pietermarsman commented on #146
I'm closing this issue because I cannot replicate this. I'm testing this with a PDF-1.4 with multiple pages and pictures: [settles-activelearning.pdf](https://github.com/pdfminer/pdfminer.six/files/3855706/settles-activelearning.pdf)

[code]

And the output:

[code]

All the object references are different.

[2019-11-17 15:08] #146 closed

[2019-11-17 15:16] pietermarsman commented on #309
It probably means the pdf is broken. Pdfminer.six is robust for some variation in pdf's but it has its limits.

If this also happens to other pdf's or if this pdf is important to you, please create a new issue for it.

[2019-11-17 16:11] pietermarsman commented on #152
Thanks for your issue! I've created #338 to fix this. Do you have more pdf's with embedded images? Could you check if the PR code works for those?

[2019-11-17 16:23] callesg commented on #337
My intention was to parse the text from the HTMLConverter. But after looking at it's results I changed my mind. It is so inaccurate that the output not really usefull. Maybe I could go look at the xml instead. See if I can convert it to HTML with an additional step.

As to the high level use, I have an idea about parsing course literature that I have in PDF format.

[2019-11-17 16:30] pietermarsman commented on #153
Opening the pdf in a text editor and saving it again solves the problem. I think this has something to do with newline characters. Your PDF uses carriages returns.

(I'm aware that this is not really an answer to your question, but I'm just trying to figure out what could be causing this issue).

[2019-11-17 18:57] #231 closed

[2019-11-17 20:02] typhoon71 commented on #336
Well, the only example I can give il that post on stack owerflow, which is what I use do too.
My issue is that while I get a dictionary with proper key:value, often they are in a type I don't recognize, and I can find any help anywhere.

[2019-11-18 19:30] pietermarsman commented on #337
So your goal is to get text? Than you should use `TextConverter`.

Or do yo want the html? What do you need the markup for?

I am asking this because HTML is one of the output options that we offer. However, *I think* this is nothing more than an example on how to use pdfminer.six for more advanced use cases. If you want to extract the colours you can do it by writing your own `PDFConverter`. (Thi

[2019-11-18 19:31] pietermarsman commented on #162
We could also add a high-level API for extracting images: `extract_images()`.

[2019-11-18 19:36] pietermarsman commented on #182
Hi @typhoon71, thanks again for your question! It would be great if you could give some examples of bytecodes that cannot be translated to unicode characters. It would be even better if you also can check how these characters are displayed in a PDF viewer.

[2019-11-18 19:48] typhoon71 commented on #182
I should still have some problematic pdf/code around, I can post something iin the weekend.

About "how these characters are displayed in a PDF viewer": I'll copy/paste them and make a little png.

I won't be able to post a full pdf, but I'm pretty sure I can post meaningful snippets.

I can investigate the pdf itself if needed (but not super fast).

[2019-11-20 22:11] flluisie opened #339 "Unsupported predictor value"
When extracting the text content on some document (that I can't share unfortunately), an error is thrown from line 100 of apply_png_predictor in pdfminer/utils.py.

 ValueError: Unsupported predictor value: 4

This is due to an unsuported PNG predictor value. Instead of throwing an exception, I suggest to just log a warning message and return buf = b'', as the rest of the document might be extract

[2019-11-21 03:26] BalasubramaniamDakshinamoorthi opened #340 "Getting an error in Python 3.x version 3.7-Getting ImportError: cannot import name 'PDFDocument'"
**Describe the bug**
from pdfminer.pdfparser import PDFParser, PDFDocument
Getting ImportError: cannot import name 'PDFDocument' from 'pdfminer.pdfparser'
**To Reproduce**
Try any Python 3x version with below line ,
from pdfminer.pdfparser import PDFParser, PDFDocument

Code:

from io import StringIO
from pdfminer.pdfparser import PDFParser, PDFDocument
from pdfminer.pdfinterp import PDFResourceMa

[2019-11-21 07:09] pietermarsman commented on #182
Great!

[2019-11-21 07:13] pietermarsman commented on #339
Thanks for the suggestions @flluisie!

It is about this line: https://github.com/pdfminer/pdfminer.six/blob/452f0b4ad0fb4236076e69102cedc38730d53f8d/pdfminer/utils.py#L100

Even better than raising an error or a warning is to support predictor value 4, if that is possible. Could you figure out what png predictors are, and what the different values mean?

[2019-11-21 07:17] pietermarsman commented on #340
Could you try to use:

[code]

Where did you get these examples from? Maybe we can update them.

[2019-11-21 15:03] flluisie commented on #339
Hi Pieter,

Thanks for your prompt reply. I don't have much bandwidth to investigate, but I'll take a closer look at the meaning of these PNG predictors.

On a different topic: do you have any guideline on how to extract text+bounding boxes (bbox)+lines from filled PDF forms? I can extract the fields and their values, but the field names are not as they appear on the PDF document and they don't co

[2019-11-22 16:01] SVasilev commented on #231
I don't understand why is this  issue closed. There is currently no solution to the problem.
Or you keep your bugs in separate issue tracker?

[2019-11-24 18:23] callesg commented on #337
To differentiate headers from body text, based on what is coloured what is bold maybe even text location.

Yeah, that makes sense.

Btw. while I was looking at this I could not find a way to do font extraction, and many of the images had an inverted colorsheme.

[2019-11-24 18:23] #337 closed

[2019-11-24 21:46] typhoon71 commented on #182
Will do next weekend, some stuff come up and couldn't do anything today.

[2019-11-29 07:48] pietermarsman commented on #340
@BalasubramaniamDakshinamoorthi are you still having this problem?

[2019-11-30 03:54] BalasubramaniamDakshinamoorthi commented on #340
yes

On Fri, Nov 29, 2019 at 1:48 AM Pieter Marsman <notifications@github.com>
wrote:

[2019-12-08 11:44] Jhy1993 opened #343 "How to modify the content in PDF and save as another PDF?"
I have a keyword and want to highlight all content contains this keyword.
For example,
<img width="666" alt="image" src="https://user-images.githubusercontent.com/12387434/70388917-2e22c780-19f3-11ea-9ab2-edd2c0d0361a.png">

[2019-12-09 20:47] pietermarsman commented on #343
Hi @Jhy1993,

Do I understand correctly that you want to modify a pdf? In that case, pdfminer.six will not suit your needs. It is created for reading PDF files and extracting its content. It cannot write PDF files or modify them in place.

[2019-12-09 20:47] #343 closed

[2019-12-09 20:50] pietermarsman commented on #340
Hi @BalasubramaniamDakshinamoorthi, I'm not sure if you are having this problem with the old or new import statement.

You are using:

[code]

which does not work because PDFDocument is located elsewhere:

[code]

The later works for me, does it also work for you?

[2019-12-13 08:06] Tangerino opened #344 "Smaller XML output"
**Is your feature request related to a problem? Please describe.**
No, is not a problem

**Describe the solution you'd like**
My PDF generates around 600KB XML and most of it is font information that I dont need at all.

**Describe alternatives you've considered**
An additional flag to suppress font info such as:

Original text:
[code]

Desired output
[code]

With a little research, I saw it is an

[2019-12-26 16:06] typhoon71 commented on #182
I will be busy for the foreseeable future and won't have much time for this.

Still, I found that it's possible to convert from PSLiteral back to string/bytes, which would take care of one of the issues I was having (and it was simpler than expected).
Below it's the updated code that also takes care of resolving value being a PDFObjRef itself on some cases (in the pdf forms I used it on).

[code]

[2019-12-29 19:29] pietermarsman commented on #344
HI @Tangerino,

Thanks for the suggestion. I agree that the xml output is indeed very verbose, and contains a lot of information.

Removing this information isn't an option since others will rely on it. So we should have some kind of way to specify which information you want in the xml output. I'm thinking of an include and/or exclude flag for the dumppdf.py command. What do you think?

[2019-12-29 19:29] pietermarsman commented on #340
I'm closing this because of inactivity.

@BalasubramaniamDakshinamoorthi, if you still have this problem, feel free to reopen.

[2019-12-29 19:29] #340 closed

[2019-12-29 20:20] #312 closed

[2019-12-30 05:25] Tangerino commented on #344
That is it!
100% agreed.
With a single --no-font-info flag will result in a big reduction on the
output size payload.
Cheers

On Sun, Dec 29, 2019 at 4:29 PM Pieter Marsman <notifications@github.com>
wrote:

--

*Merci beaucoup, Muito obrigado, Thanks*

*Carlos TangerinoMobile: +33 6 82 05 55 18*

[2019-12-30 14:06] pietermarsman commented on #48
I've checked if this bug is introduced recently. The answer is: no, it has at least been there since 7b620b3146c4bd43be83487f036cb8bf9031c790.

[2019-12-30 15:10] jeffoneill opened #347 "log.debug statements in psparser.py slow things down a lot"
I was doing a little debugging of a PDF that pdfminer.six processes slowly, and the culprit was `psparser.py`.

Turns out that if you delete all the `log.debug` statements, processing is sped up by nearly 25%.  On one PDF, processing time was reduced from 52 seconds to 40 seconds.

Any objections to doing this?

[2019-12-30 16:18] pietermarsman commented on #48
Other observations:

- If I copy the text from the pdf to microsoft word, it has font-size 22 for the big text and font-size 12 for the small text. These match the pdfminer.six computed.
- The font-height is computed based on the `/FontBBox` property of the font. If I increase the upper y-coordinate drastically the pdfminer.six computed font-sizes also increase. However, Adobe Acrobat Reader displ

[2019-12-30 17:08] pietermarsman opened #349 "The font name from an embedded font contains a strange prefix"
**Describe the bug**

This is a follow up of #72. When converting the [test.pdf](https://github.com/pdfminer/pdfminer.six/files/4010434/test.pdf) to html, the font is not recognized because it is named incorrectly.

There are actually two issues here:

- [x] The font-name has an strange prefix, e.g. "VZWISY+Georgia" instead of "Georgia"
- [x] The font-family css attribute has a binary string as va

[2019-12-30 17:09] pietermarsman commented on #72
This issue is partially fixed by #348.

The core of this issue is that the weight of the characters is not computed correctly. This causes a mismatch between the bounding boxes and the actual text. This problem is solved by #348.

There is also a side issue: the font name from the `test.pdf` is `b'VZWISY+Georgia'`, and this cannot be interpreted by the browser as being Georgia. I've created #349 f

[2019-12-30 17:20] pietermarsman commented on #347
That seems like a lot of time to spend on debugging messages. I sometimes use them, but I can imagine that most people don't.

Would you mind generating some statistics with `timeit` on this? Preferably with pdfs from the `samples/` directory.

I'm not sure what we could do about this. Obviously removing them is one thing, but maybe there is an alternative that is both functional and fast. We are

[2019-12-30 18:38] jeffoneill commented on #347
There is already a debug (-d) flag.  We could just wrap the log.debug statements in an `if` statement that is true only if the debug flag is set.  That is actually what the parent project of this one does.

By the way, now that both the original pdfminer and pdfminer.six are Python 3 only does it make sense to combine efforts?

[2019-12-30 19:15] pietermarsman commented on #347
I've done some testing and I cannot replicate what you describe.

[code]

With debug statements: 100.51 seconds
Without debugging statements (i've replaced all `log.debug(.*)` statements with pass): 99.54 seconds

[2019-12-30 19:17] pietermarsman commented on #347
Yes, we are both on Python3 now. Last time somebody checked @euske was not interested in collaborating on https://github.com/euske/pdfminer.

[2019-12-30 19:18] pietermarsman commented on #347
What Python are you using?

[2019-12-30 19:20] jeffoneill commented on #347
The `psparser` module is only used for PDFs that contain embedded postscript (ps stands for postscript) and most PDFs don't have this.  I can't share the file I'm working with, but I'll try to find another PDF with postscript.

I'm testing with Python 3.6.9.  I don't expect that to matter.

[2019-12-30 19:50] pietermarsman commented on #349
I figured out what the strange prefix is. According to Section 5.5.3 from the PDF Reference:

[2020-01-03 03:14] starfriend10 commented on #241
I have a similar issue. I have the same Python and OS environment.
First, when I installed the lib using
`pip install pdfminer.six`
There is no "pdfminer.six" folder under the path "C:\ProgramData\Anaconda3\Lib\site-packages", it only has a folder "pdfminer" and a folder "pdfminer.six-20191110.dist-info"
Second, in the folder "pdfminer", it has 28 python files and one folder "cmap", no other folde

[2020-01-04 15:47] #194 closed

[2020-01-05 12:40] Recursing opened #350 "Add check_extractable argument to high_level.extract_text"
**Is your feature request related to a problem? Please describe.**
When using `pdfminer.high_level.extract_text` on some files, I get `pdfminer.pdfdocument.PDFTextExtractionNotAllowed: Text extraction is not allowed`

**Describe the solution you'd like**
Add a keyword argument `check_extractable` to `pdfminer.high_level.extract_text`, and pass it to `PDFPage.get_pages`

[2020-01-05 13:16] Recursing commented on #187
Using `pdfminer.high_level.extract_text("nihms233215.pdf")` on the pdf at https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2963791/pdf/nihms233215.pdf seems to work fine in version 20191110

I think you can close this issue

[2020-01-05 13:54] pietermarsman commented on #241
We have removed six from the dependencies of pdfminer, since we only support python 3 now. Therefore I consider this issue closed.

@Marius-Juston feel free to create a new issue if you are still experiencing problems.

@starfriend10, your issue looks like something else. You should open a new issue if you are still having this problem.

[2020-01-05 13:54] #241 closed

[2020-01-05 14:46] starfriend10 opened #353 "Installation and use problem"
Python 3.6.8; Windows 10; Anaconda 3.
First, when I installed the lib using
`pip install pdfminer.six`
There is no "pdfminer.six" folder under the path "C:\ProgramData\Anaconda3\Lib\site-packages", it only has a folder "pdfminer" and a folder "pdfminer.six-20191110.dist-info"
Second, in the folder "pdfminer", it has 28 python files and one folder "cmap", no other folders (e.g. tools, samples, ...)

[2020-01-06 00:59] Recursing commented on #154
Since python 2 is dead, is there a way to merge this project with pdfminer and pdfminer3, to prevent duplicate work?

[2020-01-06 02:01] hoelan commented on #167
I need the sample code for PDFx or pdfMiner badly for the text label for the hyperlinks.
Thanks a lot !

[2020-01-06 03:31] igormp commented on #350
Is it possible for you to give us a sample PDF so we can reproduce this issue?

[2020-01-06 08:27] pietermarsman commented on #353
Thanks for moving this question to a new issue.

It looks like you are running the code inside a python REPL, e.g. IPython.

Instead, you should run the file directly on the command line. For example:
python pdf2txt.py /BuffaloC1.pdf
[code]

[2020-01-06 14:42] Recursing commented on #350
[asw_oct06_p33-41.pdf](https://github.com/pdfminer/pdfminer.six/files/4026476/asw_oct06_p33-41.pdf)

[2020-01-06 18:55] starfriend10 commented on #353
@pietermarsman Thanks for your prompt reply. I have solved the problems and I can convert multiple PDFs to text by using some references. Please close this issue. Thank you again for developing this nice package.

[2020-01-06 19:09] #353 closed

[2020-01-06 19:35] pietermarsman commented on #350
Hi all,

I am against adding the `check_extractable()` parameter to the high-level functions `extract_text()` and `extract_text_to_fp()`. I think these function signatures are already bloated, especially `extract_text_to_fp()`.

The high-level functions (should) cover the most common use-cases. Changing the `check_extractable` flag is not imho a common use-case. Instead, you should use the more ad

[2020-01-06 19:57] pietermarsman commented on #186
I have the same results with the current version of pdfminer.six.

I did some research to understand this error and this is what I understood.

The PDF reference (Table 3.19) says something about the `P` key in the encryption dictionairy:

And:

The `struct.pack('<l', self.p)` command [packs](https://docs.python.org/3.7/library/struct.html#struct.pack) creates a bytes object with the [least signif

[2020-01-06 20:33] Recursing commented on #350
Of course rewriting the high level `extract_text` myself with `check_extractable=False` would suit my needs, but I think that if adding an argument is a problem, a more reasonable default for the high level extract_text would be to work even on pdfs like the attached one.

Also, I think we might want to streamline the parameters of extract_text and extract_text_to_fp (and remove its unused kwargs

[2020-01-06 21:09] pietermarsman commented on #347
I think the `psparser` is also used to parse PDF documents, since PDF is an extention of PS. I just debugged through some of the functions of `psparser` for another PR.

Also, when I run the script in my earlier https://github.com/pdfminer/pdfminer.six/issues/347#issuecomment-569768663, and output logging statements to the console (e.g. using `logging.basicConfig(level=logging.DEBUG)`); I get a lo

[2020-01-06 21:17] pietermarsman commented on #350
Great! I'm closing this issue and the corresponding PR, let me know if you disagree.

A PDF is not extractable if the document itself signals that it is not allowed to extract the content if opened with user-level permissions. In my opinion, we should respect the choice of the application that created the PDF, and consequently `check_extractable=True` is a great default.

I agree! The function sig

[2020-01-06 21:30] pietermarsman commented on #167
Hi @hoelan,

Could you create a new issue that explains your question in more words? Be sure to add context to the problem you want to solve. And adding an example pdf make things a lot more clearer.

Good luck!

[2020-01-06 21:34] pietermarsman commented on #187
Indeed, you are right!

[2020-01-06 21:34] #187 closed

[2020-01-06 21:46] pietermarsman commented on #154
A quote from @igormp:

[2020-01-06 21:58] Recursing commented on #350
I kind of disagree on closing this, as the main purpose of the high level API is to extract text from pdfs and in my tests pdfs that raise PDFTextExtractionNotAllowed are not that rare (happened to both me and another user).
But it's not a big of deal as it's easy to rewrite the high level api

I would argue that `laparams`, `codec` and `caching` and `maxpages` are all less useful parameters (espe

[2020-01-07 08:19] pietermarsman commented on #350
Then I will reopen this. Lets see what others think.

[2020-01-07 09:21] igormp commented on #350
While I think that the high level functions should be a no brainer to use in most situations, where you just pass the file and it extracts the text without problems, I do think that we should adopt some sane defaults that would at least throw a warning about something as a PDF not meant to be extractable.

Passing another parameter to a method that is meant to be simple doesn't sound right to me,

[2020-01-07 11:12] Recursing commented on #350
I would agree with the warning

[2020-01-07 16:04] m2rtin opened #354 "Encrypted documents fail to load if Digital Signature is present"
**Describe the bug**
Consider an encrypted PDF (one that has Encrypt dict in the trailer). If the password is empty and it is also digitally signed, pdfminer tries to decipher all strings and streams, however the **/Contents** entry in the digital signature dictionary (the signature value) is also deciphered. Which it should not be. Then the signature value can not be further processed and interpr

[2020-01-07 17:21] pietermarsman commented on #350
I like it too.

In summary:

- Set the default value for `check_extractable` to `False`.
- If `check_extractable` is `True` we throw an Error, if `False` we raise a warning.
- Remove the explicit arguments for `check_extractable` from the high_level module.

As an alternative; we could also drop the `check_extractable` argument completely and always raise a warning. Ignoring them can be done with

[2020-01-07 17:26] pietermarsman commented on #354
I need to log in to download the file. Could you try another method to share it?

[2020-01-07 17:56] m2rtin commented on #354
Hi Pieter, thank You for the quick response!, no one needs to log in, it can be downloaded, it is the button below for slow speed download, here You go:
[https://uloz.to/file/hYCgVhuKIHsO/faktura-vs-515101458-vystavene-21012015-pdf?do=slowDirectDownload](url)

[2020-01-07 20:21] abhargava88 opened #355 "Unable to run using Anaconda"
I've tried everything I can think of... no luck. Using anaconda DS on windows 10, running through the anaconda prompt.

Steps I've tried:

 1.   I created a new virtual environment "PDFMiner" in C:\Users\MYUSERNAME\.conda\envs\pdfminer

2. The environment, when created, has no packages in it as confirmed by "conda list"

3. I ran "pip install pdfminer.six" and let it install whatever it needed.

[2020-01-07 20:59] #186 closed

[2020-01-07 21:12] pietermarsman commented on #355
The pdf2txt.py is actually in a different different location. We have another issue for this: #217 .

If you want to get this to work, you should probably use something like this:

[code]

[2020-01-07 21:12] #355 closed

[2020-01-07 21:39] Recursing commented on #354
[Faktúra VS- 515101458, vystavené- 21012015.PDF](https://github.com/pdfminer/pdfminer.six/files/4032564/Faktura.VS-.515101458.vystavene-.21012015.PDF)

For posterity

[2020-01-07 21:42] Recursing commented on #354
Btw, I don't think I can reproduce:

[code]

[2020-01-07 21:52] m2rtin commented on #354
Alright, sorry about that, you'll have to access the signature:

[code]

[2020-01-07 23:20] igormp commented on #350
I really like that.

[2020-01-09 15:36] herrold opened #356 "uncaught decoder failure"
**Describe the bug**
The decoder hits a character it cannot decode and segfaults, rather than gracefully erroring

**To Reproduce**
target file creating the issue is at:
   http://gallery.herrold.com/stuff/Murray93DrunkAndDog.pdf

CentOS 7 with EPEL

[herrold@localhost prices]$ rpm -V python36-pdfminer
[herrold@localhost prices]$ rpm -q python36-pdfminer
python36-pdfminer-20160614-5.el7.noarch

[h

[2020-01-09 18:04] pietermarsman commented on #356
The `latin2ascii.py` file did not have any meaningful changes since 2010. I guess it is outdated and there are (much) better ways to achieve what you want. What is it that you want to do?

For you information; the latin2ascii command does not extract the content of the pdf. It just prints the all the bytes from the file (in your case the pdf) in ascii notation.

[2020-01-09 19:53] pietermarsman commented on #72
@botzill do you have time for a review? Could you checkout #348 and #357.

[2020-01-09 19:56] pietermarsman commented on #48
@jeremyschiff do you have time for a review? Could you take a look at #348?

[2020-01-12 10:06] pbienst opened #358 "pdf2txt.py -t xml not extracting all information for extended encoding?"
I'm trying to get the text out this mixed Arabic-English document:

https://www.dropbox.com/s/rfoisx2bw651l08/a.pdf?dl=0

A command like 'pdf2txt.py -t xml -p 22 a.pdf' gets all the English text information.

For the Arabic text, it seems it uses different embedded fonts/font-size combinations to render it, but I don't think I get all the information I need to reconstruct the Arabic. The number of

[2020-01-12 21:31] pietermarsman commented on #197
In the gitter lobby we agreed on rebranding the name because renaming causes to much trouble.

[2020-01-12 21:32] pietermarsman commented on #197
Good and bad options for a punchline that would justify the "six" part in our package name (in no particular order):

- "six times as fast"
- "six of one and a half-dozen of the others" 😂
- "watch your six" (e.g. PDF is dangerous)
- "as easy as two times three"

[2020-01-13 08:20] pietermarsman opened #359 "Add readme/docs section about migrating from the original pdfminer"
Migrating from the original pdfminer should be easy, i.e. it has the same api. But this is not mentioned anywhere in the docs.

[2020-01-14 19:58] pietermarsman commented on #197
Another thing we can do is empasize that pdfminer.six is the version of pdfminer that is maintained by the community, and that we are actively fixing bugs and features. This has nothing to do with the ".six" part but it does make it more clear why there are two versions of pdfminer.

I'm thinking of adding a FAQ page in the readthedocs.

[2020-01-14 20:05] pietermarsman commented on #197
Todo:

- [ ] Invent a punchline
- [ ] Change the github description of this project
- [ ] Add punchline to README.md
- [ ] Add punchline to sphinx docs
- [ ] Add FAQ question about why this package is called pdfminer.six
- [ ] Add FAQ question about why there are so many versions of pdfminer.six, and why this one is special
- [ ] Add FAQ question about the differences between pdfminer/pdfminer.six

[2020-01-14 20:37] pietermarsman commented on #358
Do you know the origin of this pdf document? It looks like it is a scanned book with optical character recognition (OCR) applied to it. The OCR software probably only recognized the Latin alphabet correctly, and not the Arabic characters.

A couple of observations that support this:

- The cover of the book is a noisy picture. Other images of the cover are sharp. There is also a tiny white line at

[2020-01-14 20:37] #358 closed

[2020-01-14 20:56] pietermarsman commented on #354
I used this code to reproduce:

[code]

Full stack trace:

[code]

@m2rtin, it will take some time to look into this. But your issue is noted and we will fix it :)

[2020-01-14 21:07] pietermarsman commented on #110
@KOLANICH do you have a pdf that demonstrates this? What issues does this cause in extracting the text? Can you tune (i.e. increase) the `char_margin` to prevent the problem?

[2020-01-14 21:09] pietermarsman commented on #130
Closing this because of inactivity and not reproducible.

[2020-01-14 21:09] #130 closed

[2020-01-14 21:10] pietermarsman commented on #136
Closing this because of inactivity.

[2020-01-14 21:10] #136 closed

[2020-01-14 21:12] pbienst commented on #358
Makes sense, thanks for the detailed explanation!

[2020-01-14 21:17] pietermarsman commented on #143
Closing this because this is an issue with pyinstaller, py2exe and/or pycrypto (see e.g. the earlier mentioned issue https://github.com/pyinstaller/pyinstaller/issues/2881, and https://github.com/pyinstaller/pyinstaller/issues/2125).

Feel free to point out if I am wrong.

[2020-01-14 21:17] #143 closed

[2020-01-14 21:39] pietermarsman commented on #150
It looks like the issue had something to do with Pillow, and it was [solved](https://github.com/python-pillow/Pillow/issues/3152).

The solution was to allow reading of truncated images:

[code]

[2020-01-14 21:39] #150 closed

[2020-01-14 21:45] pietermarsman commented on #176
I think this has to do with the `PDFXRefFallback()`. By default `PDFDocument` adds a fallback xref that just enumerates all the objects.

See here: https://github.com/pdfminer/pdfminer.six/blob/0b1741b9bfa2887c97731087a5f68d095023063b/pdfminer/pdfdocument.py#L553

[2020-01-14 22:14] KOLANICH commented on #110
In fact I have already solved this issue with an another PR (the pdfs were pathological (I have removed embedded fonts from them to make them smaller, so the info pdfminer relies on got lost), so that PR got an approximation of glyphs sizes from an another source and that worked fine).

[2020-01-14 22:14] #110 closed

[2020-01-15 08:02] pietermarsman commented on #110
Great!

[2020-01-16 21:11] #152 closed

[2020-01-16 21:14] pietermarsman opened #361 "Add documentation for high-level function extract_pages()"
I've just added this function to get easy access to the `PDFPage` objects but it is not yet in the readthedocs documentation. It should be added there with some tutorials.

[2020-01-16 21:15] #48 closed

[2020-01-16 21:15] #72 closed

[2020-01-16 21:25] #349 closed

[2020-01-16 21:26] #356 closed

[2020-01-16 21:39] pietermarsman commented on #72
FYI, it currently looks like this if you have the Georgia font:

![Screenshot from 2020-01-16 22-35-24](https://user-images.githubusercontent.com/3833456/72564877-01df4e00-38b1-11ea-8811-8ebdfcd2766c.png)

[2020-01-21 22:01] pietermarsman commented on #144
I get good results when I use the pdf2txt.py utility. For example, if you want to write the images to the "output" directory:

[code]

In your example you are using the composable api. It looks pretty good, but you need to give PIL some specific hints on how to read the image, i.e. tell it that the images is black-or-white. I got it to work with the following code:

[code]

[2020-01-21 22:01] #144 closed

[2020-01-21 22:05] pietermarsman commented on #153
You could also repair your pdf using mutools:

[code]

[2020-01-21 22:05] #153 closed

[2020-01-21 22:19] pietermarsman commented on #154
# Status update:

- Fix bugs and add tests

A lot of bugs where fixed. The CHANGELOG.md lists 15 fixes since 2019-10-20. For most of those bugs tests where added. There are still 27 issues that are labeled as bugs (compared to 59 earlier).

- Improve documentation for users

We have a [readthedocs](https://pdfminersix.readthedocs.io/en/latest/index.html) now, but it does not contain a lot of examp

[2020-01-21 23:15] jbarlow83 commented on #197
On the punchlines - "six times as fast" is not the case, and for "watch your six" pdfminer(.six) isn't particularly robust at handling malformed PDFs, and I'd argue, nor should it be since qpdf does a great job of that already and pikepdf (shameless plug) binds qpdf for Python.

The second and fourth suggestions make it clear that .six has no particular meaning.

[2020-01-22 00:04] Recursing opened #362 "Would you be interested in a PR adding type hints?"
I think type hints would help users and new contributors

[2020-01-22 14:01] pietermarsman commented on #362
Yes, that's interesting! As long as it does not break anything; I am not sure if type hints are supported by Python3.4.

Some additional thoughts:

- you can start by adding types to the tools (e.g. pdf2txt.py and dumppdf.py), the high_level.py functions and the most used classes (e.g. `PDFDocument`, `TextConverter`, `PDFPageAggregator`, `LAParams`, `PDFResourceManager`, `PDFPageInterpreter` and `

[2020-01-22 21:30] pietermarsman commented on #168
Closing because not reproducible

[2020-01-22 21:30] #168 closed

[2020-01-22 21:32] pietermarsman commented on #180
@ortenburger @winlp4ever @VagosGrigoropoulos can you post a pdf that we can use to replicate this issue?

[2020-01-22 21:36] pietermarsman commented on #184
Fixed in #287 and #298.

[2020-01-22 21:36] #184 closed

[2020-01-22 21:41] pietermarsman commented on #195
I think this is a duplicate of #143. That issue is closed because it is an issue with pyinstaller and pycryptodome and has nothing to do with pdfminer. Also see https://github.com/pyinstaller/pyinstaller/issues/2881, and https://github.com/pyinstaller/pyinstaller/issues/2125.

[2020-01-22 21:41] #195 closed

[2020-01-22 21:51] pietermarsman commented on #191
It is currently here:

https://github.com/pdfminer/pdfminer.six/blob/bc494ff03cc2d1139a7806a8ca74a477a67f14e9/pdfminer/converter.py#L169

It looks like a test to check if unicode characters can be written to the stream. If not, the output is written as bytes instead of unicode.

How can we test if a stream accepts unicode without actually writing a unicode value?

[2020-01-23 02:20] Recursing commented on #362
Python 3.4 does not support inline type annotations, so the valid syntax would be annoyingly verbose (and non-standard). But why do you guys even support it? I think it's not that common anymore

[2020-01-23 18:28] davidcornewell opened #363 "Windows Security reported a virus"
**Describe the bug**

Threat detected: Exploit:JS/ShellCode.gen

file: C:\Users\USER\Downloads\pdfminer.six-20200121.tar.gz->(GZip)->pdfminer.six-20200121/samples/contrib/issue-00152-embedded-pdf.pdf->(pdf0000:/p11---resol--gte1920x1200---nest--15-envelope.pdf)->(pdf0000:/p11---resol--gte1920x1200---nest--15-envelope.pdf)->(pdf0000:/p11---resol--gte1920x1200---nest--15-envelope.pdf)->(pdf0000:/p11

[2020-01-23 21:09] pietermarsman commented on #363
Interesting! That is one of the newly added pdfs to prevent regression bugs.

It contains an embedded pdf, but I did not experience any virus when dealing with it. That was on OSX and Linux however.

I guess we can delete it if it raises alarms on windows 10. Let me check tomorrow.

[2020-01-23 21:10] pietermarsman commented on #362
I also think that very few people use that. It is much easier to upgrade from python 3.4 than it was from e.g. 2.7.

Let me check with other contributors to see what they think.

[2020-01-24 11:36] #363 closed

[2020-01-24 11:40] pietermarsman commented on #363
@davidcornewell I've released 20200124 that should fix this issue. Let me know if it works out for you.

[2020-01-27 13:54] apdullahyayik commented on #144
Still ValueError: not enough image data occurs.
Data return from image_object.stream.get_data() doesnt satisfy the size that should be. @pietermarsman

[2020-01-27 17:49] pietermarsman commented on #144
What code are you using? Which pdf are you testing on?

[2020-01-31 06:32] kuldeepnpatel commented on #202
Hello - Thanks. I want fontsize with the word also. which word has what size. c.size is returning the size but for which word how much? Please, help with this. Thanks

[2020-02-01 13:32] AyeshaSarwar opened #365 "Error running command pdf2txt.py"
pdf2txt.py "D:/test.pdf"
I am trying to run this simple command.
No matter which verison I use it is giving the same error

*pdf2txt.py: error: the following arguments are required: files

python version 3.8.1
Windows 10

I need some urgent help
Thanks

[2020-02-01 13:38] AyeshaSarwar commented on #365
NO matter how I write the command, I am getting the same error

[2020-02-01 14:58] abhishek-27 commented on #365
You need to use it like this. `python pdf2txt.py samples/simple1.pdf`

Make sure you have already installed it using pip or either built it from the source code.
`pip install pdfminer.six`

The python version needs to be greater than v3.4.0

[2020-02-01 15:01] AyeshaSarwar commented on #365
Is it ok that it is running from my administrative power shell but not from command prompt on windows?

[2020-02-01 15:56] abhishek-27 commented on #365
I am not an active Windows user but I think it should even work in Powershell.

Assuming you have Python installed. In case you still face an issue, I will suggest you use either `virtualenv` or `pipenv` to setup your python environment and then do `pip install pdfminer.six` after activating the virtualenv.  `source <path-to-venv>/bin/activate`.

[2020-02-01 16:06] AyeshaSarwar commented on #365
It is working in power shell but not in cmd

On Sat, Feb 1, 2020 at 8:56 PM abhishek-27 <notifications@github.com> wrote:

[2020-02-01 22:55] Ev2geny opened #366 "Make configurable the amount of intermediate spaces to be inserted to separate words in line"
### Current functionality

[https://pdfminersix.readthedocs.io/en/latest/api/composable.html#laparams](url)

### What is the issue with current functionality
If words themself contain spaces (e.g. number contains space as a decimal separator ) then when such PDF file is converted to text, it becomes difficult to separate different words (e.g. numbers) from each other

### What is desired improveme

[2020-02-02 04:59] CholoeMoretz opened #367 "pdfminer has no attribute high_level"
**Describe the bug**
I'm trying to use pdfminer to extract some pdf files,it's excutable in macOs commandline by using the example showing in the main page of this project.
However,when I try to use it in python3.7, it shows "'pdfminer' has no attribute 'high_level'"

**To Reproduce**
import os
text = pdfminer.high_level.extract_text('20190318.pdf')

**Expected behavior**
extraction sucess

[2020-02-03 19:57] pietermarsman commented on #367
Did you import high_level?

[code]

[2020-02-04 21:28] sean2176 opened #368 "pdf2txt.py output getting a lot of (cid:#)"
I run the pdf2txt.py tool to parse a pdf file and write the output to a text file. I am getting a lot of output like (cid:13), (cid:36), (cid:51) etc.

I wonder what are they? Is any way to remove them?

[2020-02-05 17:44] cheungpat opened #369 "Tables drawn from single path is converted to curve instead of rects"
**Describe the bug**

When using Excel and Print to PDF function, borders from the generated PDF cannot be converted to HTML output. When converting to XML output, the borders become `<curve>` instead of `<rect>`.

It appears that the borders are rendered as a single path and hence it is interpreted as a curve instead of a rect.

**To Reproduce**

Run `pdf2txt.py -t html output.pdf > output.html`.

[2020-02-05 20:52] dhavalsp opened #370 "self.__interpreter.process_page(page) taking very long time"
**Describe the bug**
I am creating API using pdfminer.six in flask. I am reading text with bbox. But, following the line of code taking very long time to run.

`self.__interpreter.process_page(page)`

this line of code taking 7-8 sec in my all program.

The same program is not taking too long time without a flask and class structure. I have created a program as a class and function. I am calling i

[2020-02-09 16:22] #367 closed

[2020-02-11 12:14] ybml opened #374 "Text Attribute from LTTextLineHorizontal (LTTextBox)"
I can't access the text attribute of an LTTextLineHorizontal object. I can get the text via `get_text()`, but I can't write into the text attribute.

E.g., I've written all LTTextBox objects  (`obj`) of a document into a list. I now want to go over these objects and clean them. It's possible to access all attributes with e.g. obj.y1, but not the text. I can get the text with `obj.get_text()` but n

[2020-02-11 20:10] ArchangeGabriel commented on #197
I’m also in favour of removing the .six from the name, because it is pointless and confusing especially when the original project tells you to use this fork instead. So just take the namespace and be done with it. ;)

[2020-02-13 15:33] diegodelima opened #375 "Output type TAG error"
The command:
`pdf2txt.py-3 -t tag PDFFILE.pdf`
Always gives the following error: AttributeError: 'dict' object has no attribute 'iteritems'

PDF test file attached:
[20200213CAPDJETJRJ_298.pdf](https://github.com/pdfminer/pdfminer.six/files/4199179/20200213CAPDJETJRJ_298.pdf)

Using python 3.6 on CentOS 7.

Full error:
<page id="0" bbox="0.000,0.000,595.320,841.920" rotate="0">Traceback (most rece

[2020-02-16 21:17] pietermarsman commented on #375
Looks like you are using an old version of pdfminer.six. Could you update to the newest version and try again?

[2020-02-19 16:12] diegodelima commented on #375
Updated to latest version, but I got a different problem (see below). The problem seems to happen only with the "-t tag" argument. Additionally, if a use "pip2" and "python2", it works fine with the "-t tag" argument. I guess it's something with the "tag" output and python3 only.

# pip3 install pdfminer.six
...
# pip3 show -f pdfminer.six
Name: pdfminer.six
Version: 20200124
...

# python3 --vers

[2020-02-19 17:13] TercioOfParma opened #376 "I have some algorithms written for superscript and subscript support, but I need a bit of help"
Hi,

I wrote up a couple of algorithms on paper to handle superscripts and subscripts, but I am having issues understanding the library such that I can put the solutions in the right place.

I think that the characters themselves are ascertained in PDFPageInterpreter, but I am not sure precisely which function. In order to detect and take super and subscripts into account, I need to know where pre

[2020-02-26 16:51] b00kgrrl opened #377 "PDFminer only works if PDF is first made searchable"
I would like to extract text from PDF files using PDFminer and Jupyter Notebook.

[Here](https://www.dropbox.com/s/6lmupe3dyunfgfk/test.pdf?dl=0) is an example of a PDF file from which I would like to extract text.  When I use the code posted [here](https://stackoverflow.com/questions/26494211/extracting-text-from-a-pdf-file-using-pdfminer-in-python), the output contains only the page one footer,

[2020-02-27 05:30] colegleason commented on #375
I am encountering the same error, but have not found the requisite bug.

[2020-02-28 09:48] SystemLight opened #378 "What does PDFDocument's get_dest method do?"
**Describe the bug**
Traceback (most recent call last):
  File "D:/Python/untitled1/mainTwo.py", line 11, in <module>
    document.get_dest("pm")
  File "C:\Users\Lisys\AppData\Local\Programs\Python\Python35\lib\site-packages\pdfminer\pdfdocument.py", line 752, in get_dest
    raise PDFDestinationNotFound(name)
pdfminer.pdfdocument.PDFDestinationNotFound: pm

**To Reproduce**
parse = PDFParser(ope

[2020-02-28 11:41] atraining commented on #164
Hi, just to update the issue: You should check if the commit https://github.com/pdfminer/pdfminer.six/commit/fff3ac2ba6121660e0f7178150d665215d8586d7 solves your issue. Many issues, i.e. linebreaks for superscripts were solved for our PDFs. Great work - @pietermarsman !

[2020-02-29 15:36] SystemLight commented on #378
Solve： https://docs.adobe.com/content/help/en/experience-platform/rtcdp/destinations/destinations-overview.html

[2020-02-29 15:36] #378 closed

[2020-03-02 10:42] jvalls-axa commented on #377
Hi @b00kgrrl

Your sample only contains on line of text in first page that is the one pdfMiner gives you as output.

All pages in your sample only contains images but unfortunately pdfMiner is not an OCR tool.

[2020-03-02 13:22] longbowking opened #380 "how to collect font list from pdf file"
`pdffonts` can collect all fonts in a pdf file, [Link](https://stackoverflow.com/questions/11820241/)

[code]
Can we get pdf fonts with pdfminer ?

[2020-03-02 15:24] jvalls-axa opened #381 "pdf2txt.py - Missed figure texts"
**Describe the bug**
Looks like texts in figures are missed since release '20191107' because older versions properly provide text in figures.

**To Reproduce**

1. Using pdfMiner >= 20191107
2. Download [PDF](https://www.icann.org/en/system/files/files/participating-08nov13-en.pdf)
2. Execute `pdf2txt.py -p 9 -c utf-8 -t xml -o outPut.xml input.pdf`
3. outPut.xml has no text elements in figures of

[2020-03-03 09:31] jvalls-axa commented on #381
Tracking commits after 20191020 release I found this [commit](https://github.com/pdfminer/pdfminer.six/commit/bc034c8e59d90e9b2cb8697a1d2fe9a33401761e) making missed text figures

[2020-03-03 10:37] jstockwin opened #382 "Centered text on different lines don't get grouped into text boxes"
**Is your feature request related to a problem? Please describe.**

[Example PDF here](https://www.dropbox.com/s/iesuryj5ter1bax/centered_text_example.pdf?dl=0)

When extracting text from the example PDF (example code below), you can see that "Text 1" and "Text 2" are grouped into one text box, "Text 3" and "Text 4" are getting grouped into another, but "Long Text 1" is not.

If the text was left-

[2020-03-03 10:56] jstockwin opened #383 "Allow negative line margin"
**Is your feature request related to a problem? Please describe.**

[Example PDF File](https://www.dropbox.com/s/jjhlbsynrnjuq6i/negative_line_margin_example.pdf?dl=0)

In some of the PDFs I deal with, it is possible that the bounding boxes of different lines of text overlap, but I do not want them grouped into one text box. For example, all the text in the example pdf liked above (example code at

[2020-03-03 11:23] fakabbir commented on #347
I tried using pdfminer inside a flask app with debug on, Interestingly it starts printing the debug message `DEBUG:pdfminer.psparser` even without mentioning it in pdfminer. The process was slow too.

[code]

[code]
@pietermarsman  Do you see this important to work on  decreasing speed, while logging ?

[2020-03-03 20:33] pietermarsman commented on #347
I am not exactly sure what your question is.

I'm willing to work on this issue but I'm having troubles to replicate it and that makes it very difficult to solve it.

It's OK for pdfminer to be slower if debugging messages are on.

[2020-03-03 20:41] pietermarsman commented on #369
Thanks for raising this issue!

I'll review your PR and see if we can merge it.

[2020-03-05 05:35] fakabbir commented on #347
In case the messages are too much and slowing it down, it could be turned off using `logging.getLogger("pdfminer").setLevel(logging.WARNING)`.

_Do you see this important to work on decreasing speed, while logging ?_

I meant that if the slow speed is only due to logging and no internals withing psparser is involved we can close this issue. In case you feel that there is some scope of improvement

[2020-03-07 18:45] pietermarsman commented on #347
That's what I think, but the way I read this issue is that pdfminer is slow because of the `log.debug` statement when the logging level is `logging.INFO` or higher.

I don't think it is important. During debugging speed is not important.

I'm closing this issue since I can not reproduce it and the python docs state that having `log.debug` statements are cheap.

[2020-03-07 18:45] #347 closed

[2020-03-07 19:25] #365 closed

[2020-03-07 19:32] pietermarsman commented on #366
You don't have to use the string representation of the layout analysis.

Some alternatives are:
- use `high_level.extract_pages()` to get a list of `LTPage` object that contain a hierarchy of `LTComponent`s
- Create your own extention of `PDFDevice` and use it to render the content of the pdf in a way you like.

[2020-03-07 19:34] pietermarsman commented on #370
Hi @dhavalsp,

We cannot help you with integrating pdfminer.six into other applications. If you have issues with a specific pdf or if you want to report a bug or slow performance: open a new issue with more information about that.

[2020-03-07 19:34] #370 closed

[2020-03-08 14:01] pietermarsman commented on #381
Hi @jvalls-axa, thanks for raising the issue!

Could you try adding `--all-texts` to the command? This is the `pdf2txt.py` flag that signals that pdfminer.six should also extract text from figures. For example:

[code]

[2020-03-08 14:07] pietermarsman commented on #377
That is correct! Pdfminer.six directly looks into the sourcecode of the PDF and extracts text from that. It does not do any kind of OCR on images or scans.

[2020-03-08 14:07] #377 closed

[2020-03-08 18:54] pietermarsman commented on #202
You can use `LTChar.size` for this.

(Previously this sometimes returned the wrong value but it was fixed in #348)

[2020-03-08 18:54] #202 closed

[2020-03-08 19:00] pietermarsman commented on #368
Hi @sean2176, thanks for raising the issue. Could you attach the PDF you are using to  your post. And also the script/command that you use. This helps us to debug the issue.

About cid: this is a font type that is often used to Chinese, Japanese or Korean characters. To convert these characters to text pdfminer.six needs a mapping: from each of the cid drawings to a corresponding unicode value. I

[2020-03-08 19:08] pietermarsman commented on #374
A `LTTextLineHorizontal` object is a hierarchical grouping of objects that contain text. The `LTTextLineHorizontal` object itself does not contain any text. The `LTTextLineHorizontal.get_text()` method only concattenates the text from its children. That is why you cannot write to any text attribute.

If you want to work with the text, I would recommend extracting the text from the LT*` objects and

[2020-03-08 19:08] #374 closed

[2020-03-08 19:11] pietermarsman commented on #376
Hi @TercioOfParma, are you asking how to extract characters from a PDF using pdfminer.six? You could take a look at our [documentation](https://pdfminersix.readthedocs.io/en/latest/index.html) and try to reproduce some of the examples.

[2020-03-08 19:13] pietermarsman commented on #380
Great question! I am not sure how to do it, but it should be possible with pdfminer.six. If anyone finds a solution, I am more than happy to add it to our documentation.

[2020-03-09 07:58] jvalls-axa commented on #381
Hi @pietermarsman

I tried --all-texts & -A (that is documented as default true) before opening the issue but unfortunately it doesn't work.

[2020-03-09 11:35] pietermarsman commented on #381
To bad. I'll look in to this.

[2020-03-09 21:32] pietermarsman commented on #381
I did some research. On bc034c8e59d90e9b2cb8697a1d2fe9a33401761e the default value in pdf2txt.py changed from `False` to `True`. Since the action is `"store_true"` you cannot really change the value anymore.

Strangly enough, if the value is `False`, then the content of figures is printed. If the value is `True` the content of figures is analyzed, but not printed. I still need to figure out how th

[2020-03-10 14:11] TercioOfParma commented on #376
Don't worry, I implemented it on my own. I created the change such that LaTeX commands for these are replicated in the code.

[2020-03-10 15:45] rcarraretto opened #385 "ValueError: invalid literal for int() with base 16"
First of all, thanks for the tool! My team has been successfully using this.

**Describe the bug**

With Python 3.7.6 and pdfminer 20200124.

Given [this file](https://github.com/pdfminer/pdfminer.six/files/4313262/file.pdf), when running
[code]
I get an incomplete xml output with a stacktrace
[code]
The file is a pdf with non-embedded fonts.

To help isolate the issue, I was able to reproduce it

[2020-03-10 19:34] pietermarsman commented on #381
I figured out what's going wrong. It is actually a problem with the pdf you are sharing. The Figure has a bounding box that is much smaller than the text that is inside it. It is `(52, 649, 575.72, 691.02)` (x0, y0, x1, y1) while the text covers the whole page.

This is only a problem when layout analysis is done. During layout analysis all the components of a PDF are reordered such that they like

[2020-03-10 20:13] pietermarsman commented on #381
I've created a fix for this. @jvalls-axa Could you have a look at the changes in `LTLayoutContainer.group_textlines()` and verify that I did not introduce another bug?

[2020-03-10 20:23] #376 closed

[2020-03-11 08:40] NitinSafaya opened #387 "not working with PDF version 1.3"
I am trying to extract text from few pdf docs. pdfminer.six is able to parse text from pdf v1.4-1.7 but it is not working for pdf v1.3. Most of the time it is returning text from starting from the 3rd page instead of page 1.

[2020-03-11 10:01] jvalls-axa commented on #381
Hi @pietermarsman

Seems like all my test dataset works fine with your fix.

When will you release a new version ?? 😊

Thanks!

[2020-03-11 10:01] #381 closed

[2020-03-11 13:54] jstockwin commented on #380
The following code should get the names for you. Note most of the code is fairly standard to just use PDFMiner.

Also note that a text box can have multiple fonts, and this gets them all. I've seen cases where e.g. bullet points are their own font at the start of a textbox.

The code can probably be improved to be more efficient, this is meant as an example only.

[code]

[2020-03-11 14:01] jstockwin commented on #361
@pietermarsman happy to help out with this if you like?

For reference, the commit you mention is here: https://github.com/pdfminer/pdfminer.six/commit/fff3ac2ba6121660e0f7178150d665215d8586d7

Where in the docs would you like this?

Could I also suggest an enhancement that allows you to pass a file-like object to this, so I can e.g. do this from a IO stream instead of having to have the PDF on my

[2020-03-14 08:40] pietermarsman commented on #385
Hi @rcarraretto, thanks for raising this issue!

I can replicate this error. I'll look into this now.

[2020-03-14 09:05] pietermarsman commented on #385
As far as I can see there is an error in your PDF file. More specific, the `` font that is defined in object 369 (after cleaning up with mutools):

[code]

The encoding of this font has a list of differences wrt the `Ubuntu-Medium` font.

[code]

The second last element is `/ubuntu` and because it starts with `/u` pdfminer.six tries to interpret it as a unicode. Obviously, this is not possible.

I

[2020-03-14 09:13] pietermarsman commented on #385
A quick fix is to skip characters with exceptions. We already do this for `KeyError` and I will create a PR where `ValueError` is added to the list.

[2020-03-14 09:30] pietermarsman commented on #387
Hi @NitinSafaya, thanks for raising the issue! Could you attach an example PDF + code that you are using. This helps us debugging and fixing the issue.

[2020-03-14 09:47] pietermarsman commented on #380
I've used `high_level.extract_pages()` to minimize @jstockwin 's example:

[code]

As a side note: this output is different that `pdffonts`. This prints all the fonts that are used in characters, while `pdffonts` prints all the fonts (with addititional properties) that are defined in a PDF.

[2020-03-14 09:56] pietermarsman commented on #361
I try to follow [this](https://www.divio.com/blog/documentation/) structure of the documentation (still in early fases though). It is already added to the API reference. I think it is most useful to add a section to the tutorials section. For example, how to use `extract_pages` to [extract the fontsize](https://github.com/pdfminer/pdfminer.six/issues/202) of every character, or a [set of font name

[2020-03-14 13:41] pietermarsman commented on #383
A summary for myself:

- Currently we allow a positive `line_margin` parameter that specifies the maximum distance between two lines. The distance is measured between the bottom of one line, and the top of the other line. This distance should be smaller than `line_margin * height` where `height` is the height of the bounding box of one of the two lines (arbitrary).
- If lines overlap, i.e. the dis

[2020-03-14 13:48] pietermarsman commented on #382
This is a valuable addition to pdfminer.six :)

I agree. In #383 I suggested to use `d = self.height` instead.

[2020-03-14 15:09] pietermarsman commented on #164
Looking at the example PDF, I think the problem is caused by subsequent subscript and superscript. These have no vertical overlap and are therefore not considered to be on the same line.

I lack ideas on how we can solve this in a robust way.

[2020-03-14 15:21] pietermarsman commented on #176
We can fix this by using `PDFDocument(..., fallback=False)` in `dumppdf.py`.

A more thorough fix is to only append the `PDFXRefFallback()` to the `self.xrefs` if one of the xrefs from the document failed (and `fallback is True`).

I know very little about xrefs and the impact of changing this. @wlbentley, do you know more about this? Which solution would you recommend?

[2020-03-16 01:04] Filip98 opened #390 "Iconsistent layout, misbehaving file(maybe unicode related?)"
I'm extracting this file:
[file](https://nissrednjastrucna.edu.rs/data/documents/Opsti-deo.pdf)
Which is in a consistent format

And minus a lot of newlines half of the produced text is as it should be
`
A) line
B) line
C) line
`
But I get a lot of this:
`
A)
B)
C)
line
line
line
`
or this
`
line
line
line
A)
B)
C)
`
or even better, one or several lines being in and the others out

Ive compared it

[2020-03-16 08:45] yadavsandip32 opened #391 "New versions of pdfminer.six cannot extract chinese characters from pdf"
**Describe the bug:**

I have observed that latest version of pdfminer.six i.e. 20200124 is not able to read Chinese character.

The version appropriately working right now is 20181108. After that all the later versions are having that problem.

**To Reproduce:**

Simply run     `pdf2txt.py input.pdf`

**Current output:**
[code]

**Expected Output:**

[code]
**Reference PDF:**
[Sample pdf for chin

[2020-03-16 09:11] Tam678 commented on #256
Hi @pietermarsman ,
I have a same question like that.Here are my code to process these pdfs.And my version of pdfminer.six is 20191110.

[2020-03-16 09:13] Tam678 commented on #256
def pdf_to_detail(path):
    rsrcmgr = PDFResourceManager()
    retstr = StringIO()
    codec = 'utf-8'
    laparams = LAParams()
    device = TextConverter(rsrcmgr, retstr, codec=codec, laparams=laparams)
    fp = open(path, 'rb')
    interpreter = PDFPageInterpreter(rsrcmgr, device)
    maxpages = 0
    pagenos=set()
    for page in PDFPage.get_pages(fp, pagenos, maxpages=maxpages, check_extract

[2020-03-16 10:36] rcarraretto commented on #385
Cool, thanks for the fix @pietermarsman!

[2020-03-16 11:50] jstockwin opened #392 "Allow calling high level functions with file-like objects"
**Feature request**

Some of the functions (`extract_text` and `extract_pages`) in [high_level.py](https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/high_level.py) take `pdf_file` as a parameter, the path to the pdf file. This means the PDF file must be on the hard drive.

It would be nicer if there were functions available which allowed any file-like object (like `extract_text_to_fp`

[2020-03-16 13:55] jstockwin opened #394 "Use black for code formatting?"
Have you considered using [black](https://black.readthedocs.io/en/stable/) for your code formatting?

There are a few drawbacks:
- You'll have one commit which touches almost every file to refactor it to the new styling
- Perhaps you might not like some of the srtyling?

However:
- It's great as a contributor - I don't have to worry about code styling etc, whereas currently I have to infer the sty

[2020-03-16 14:18] NitinSafaya commented on #387
[code]

[2020-03-16 16:37] jstockwin opened #395 "LAParams boxes_flow documentation inconsistency"
The documentation for `boxes_flow` of LAParams ([here](https://pdfminersix.readthedocs.io/en/latest/api/composable.html#laparams)) reads:

whereas the code ([here](https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/layout.py#L726)) does the following
[code]

From the code, it seems that it is possible to set `boxes_flow` outside the range `[-1.0, 1.0]`. At the moment, any value outside

[2020-03-16 17:25] jstockwin commented on #383
It sounds like you're leaning towards allowing negative values to me. I'll wait for #384 to be sorted before I start changing this, as the two fixes are going to touch the same lines.

I'm trying to work out what line_margin values of less than `-1` mean. Since the lines in question are the same height (within a tolerance), if we're considering the case where `d = -1 * height` then actually this m

[2020-03-16 17:47] jstockwin commented on #361
Just for anyone wanting to follow the trail, I created #392

[2020-03-16 17:48] jstockwin commented on #361
A tutorial makes sense - I'll have a look at getting this done when I have time. Feel free to assign me to this

[2020-03-16 19:06] pietermarsman commented on #256
Hi @Tam678, you can create a new issue for your problem. Take some time to format your message and don't forget to attach a PDF.

[2020-03-16 19:06] pietermarsman commented on #256
I'm closing this due to no response.

[2020-03-16 19:06] #256 closed

[2020-03-16 19:12] #385 closed

[2020-03-16 19:24] pietermarsman commented on #387
Hi @NitinSafaya, without the pdf there is not much we can do. For that reason I'm closing this. If you ever find another PDF with version 1.3, feel free to reopen.

PDF 1.3 is a subset of PDF 1.7 so I expect most things to work and perhaps the problem is not due to the version of the PDF but other things. You could try using `mutools` to clean/repair the pdf and then view the PDF again.

Are you g

[2020-03-16 19:24] #387 closed

[2020-03-16 19:56] pietermarsman commented on #383
Indeed

Good plan

About the minimal case, there are a couple of options:

1. Use -0.5 as minimal
2. Use -1.0 as minimal and use `objs = plane.find((self.x0, self.y0-max(d, 0), self.x1, self.y1+d))` such that the y-start of the bounding box is not below `y0`.
3. Likewise, use -1.0 but divide it by 2 if it is negative

All of these are a bit akward. I think it is because the `plane.find()` method d

[2020-03-16 20:04] pietermarsman commented on #392
I thought you were going to do something like [this `read_csv()` method in pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html). You can pass a path or a file-like object. So the user does not need to learn a new method if (s)he wants the same functionality.

[2020-03-16 20:07] pietermarsman commented on #392
No breaking changes is indeed what we want. But you can do it like the [`read_csv()`](I would guess we don't want breaking changes to the existing functions (?), so will create new *_from_io functions, and then the API for the existing ones will be unchanged.) method in pandas. It supports both paths and file-like objects with a single method.

[2020-03-16 20:19] pietermarsman commented on #395
You are totally right in this analysis.

Regarding the fix, I think it's best to be explicit. Either allow a value in `[-1, 1]` or `None` but not anything else.

[2020-03-17 02:57] Tam678 opened #397 "TextConverter output wrong line with text"
Hi@pietermarsman,

I am trying to convert  a PDF to text and have come across a output problem.
TextConverter generates the following:
Education Background
Work Experience
2010.09 -2014.07
Xian Engineer University
Art Design
Bachelor
Degree
2012.09 -2013.11

The result I excepted:
Education Background
2010.09 -2014.07
Xian Engineer University
Art Design
Bachelor
Degree
Work Experience
2012.09 -201

[2020-03-17 10:29] jstockwin commented on #390
It's grouping things as follows:

![image](https://user-images.githubusercontent.com/8227759/76847243-ab9f7480-6839-11ea-8b61-5d995fc27d85.png)

I think from the above question 1 and 2 work fine, but question 3 has an issue?

My suspicion is that the ones with smaller answers are (or perhaps smallest first word in all the answers) are getting split into two boxes because the words don't get merged

[2020-03-17 17:39] Filip98 commented on #390
You're right, question 3 is read wrong, but e.g question 11 ends up like:
[code]
But I don't get what do you mean smaller
![ifhwifa](https://user-images.githubusercontent.com/4060824/76883116-f04bff80-687b-11ea-9e12-80d45a4a17f2.jpg)
I can't spot the difference between б and в

3, 11, 24, 33 show all the types of "mutations"
I was suspecting unicode because 76-:-93 is the English section in srp_la

[2020-03-18 09:54] jstockwin commented on #390
In 11 it detects two text boxes, one with the question and the top two answers, and the other with just the letters and the bottom answer.

![image](https://user-images.githubusercontent.com/8227759/76948041-6d1fbd80-68fe-11ea-9b0d-5ab788d964b4.png)

It could be unicode related, I don't know. I'll try to have a dig into the merging logic to see why it doesn't correctly merge all this into a single

[2020-03-18 10:25] jstockwin commented on #390
Okay, so I think it's as simple as this: Sometimes the distance between the letter (i.e. `a)`) and the answer is a little bit larger, and so they don't get merged into a single line, and therefore never get merged into a single text box. I don't think it's anything to do with unicode.

I thought that making the word margin larger would fix this, but it didn't. The reason behind this is it's actual

[2020-03-18 10:49] jstockwin opened #398 "Disabling boxes_flow results in text coming in reverse order"
**Bug report**

[Example PDF](https://www.dropbox.com/s/iesuryj5ter1bax/centered_text_example.pdf?dl=0)

Code to reproduce:
[code]
(Note that once #396 is merged we'll be able to do `boxes_flow=None`, I'm passing 3 simply to disable it)

Actual Output:
[code]

Expected Output:
[code]

[2020-03-18 14:51] Filip98 commented on #390
You're absolutely right, I did
`pdf2txt.py -M 3 Opsti-deo.pdf`
And the only ones that came out wrong are 68 a), 78, 81
running
`pdf2txt.py -M 3.1 Opsti-deo.pdf`
Ends up with only 68 a) being wrong, but it has some extra space, -M 4.1 is enough to pick it up too
I suppose there's a reason why the char margin is 2 by default but it might not be bad to reconsider or attempt to detect this

I just not

[2020-03-19 02:40] yifei325325 opened #400 "Can not extrat text from some chinese pdf document"
**Bug report**

python version: 3.6.5
pdfminer.six verison: 20200124

i use the demo code from instructions like this:

[code]
when i print the result , what  unreadable, they are messy code. like many square with question mark in it.

But  they same code i try other doc. which was commented out , that print well.

for the test files  please see the attchment

[CN102149977B-panasonic.pdf](https://

[2020-03-23 05:23] yadavsandip32 commented on #400
Try using 20181108 version, they probably work. New versions have some issues with them. I have posted a similar issue, but no response has been received by me. [https://github.com/pdfminer/pdfminer.six/issues/391](https://github.com/pdfminer/pdfminer.six/issues/39)1

[2020-03-23 05:38] yadavsandip32 opened #401 "Python version confusion"
On the home page of pdfminer.six it is written, it is supposed to support both python 2 and python3 versions.  But in the readme file, I can see, instruction is given to install python 3.4 or newer. Can anyone help me understand this ambiguity?

[2020-03-23 06:29] yifei325325 commented on #400
Thanks for you suggestion, i 'll try .

[2020-03-23 21:38] #382 closed

[2020-03-24 07:26] pietermarsman commented on #390
I totally agree!

Let's close this issue when the documentation is updated.

When updating the documentation, make sure to also update:
- pdfminer/layout.py
- tools/pdf2txt.py
- tools/pdfdiff.py
- docs/source/topics/converting_pdf_to_text.rst

[2020-03-24 07:28] Tam678 commented on #400
Hi,第一个pdf可能是图片格式的pdf,可以先把pdf转成图片再提取信息

[2020-03-24 10:03] marianorodriguez opened #402 "word-splitting bug on last version of pdf2txt"
Last version of pdfminer.six (20200124) seems to add some empty `<text> </text>` to pdf2txt.py output, splitting words into multiple parts and breaking the final result.

command used:
`python3 pdf2txt.py -p 1 -c utf-8 -t xml -o output.xml icann.pdf`
(python version 3.7.4)

current output with last version:
<img width="1143" alt="Screenshot 2020-03-24 at 10 54 32" src="https://user-images.githubus

[2020-03-24 13:33] Bachstelze commented on #189
You can convert it to HTML with `high_level.extract_text_to_fp(fin, output, laparams=LAParams(), output_type='html', codec=None)` and filter it with soup or lxml.

[2020-03-24 15:59] jjhuff opened #403 "Exception when parsing PDF 'portfolios'"
Example URL: https://www.accessdata.fda.gov/cdrh_docs/pdf17/K171077.pdf

Backtrace:
[code]

I'm not specifically worried about parsing the PDF contents, but if I could extract the "For the best experience, open this PDF portfolio" string, I can use that to detect the portfilio and use `pdfdetatch`

[2020-03-24 16:45] jjhuff opened #404 "RecursionError: maximum recursion depth exceeded"
Example url: http://www.accessdata.fda.gov/drugsatfda_docs/label/2019/021107s029lbl.pdf

Backtrace:
[code]

[2020-03-24 21:05] pietermarsman commented on #391
I can replicate this issue.

I did a `git bisect` and the commit that introduced the error is fa400431f571de9197ab72ffc5dd9f7d76826474.

[2020-03-24 21:11] pietermarsman commented on #394
We already enforce code style using flake8 (see #312, #316 and #345).

If you want, you can use black as a pre-commit hook to fix flake8 before committing. I use PyCharm reformatting. You can do it the way you want, as long as you confirm to flake8 code style.

[2020-03-24 21:30] pietermarsman commented on #397
Hi @Tam678, thanks for your question. Could you try with the newest version of pdfminer.six and see if the problem persists? A lot of small things changes around the turn of the year.

[2020-03-24 21:38] pietermarsman commented on #398
Interesting unexpected result. Let's look into this after #396 is merged.

Maybe related: #384.

[2020-03-24 21:50] pietermarsman commented on #401
Thanks for reporting! I've updated the description of the github project.

[2020-03-24 21:50] #401 closed

[2020-03-24 21:55] pietermarsman commented on #402
Hi @marianorodriguez, can you try adjusting the layout parameters to see if that changes things?

For example: increase `--word_margin` from 0.1 to 0.2 (or higher). This should remove the spaces from the output.

[2020-03-24 22:01] pietermarsman commented on #189
Hi @lkmh, thanks for your question! There is no such thing as bold or italic text in a PDF. However, most PDF's use multiple variants of the same font-family to get bold (and italic) text. E.g. a specific font for bold, one for italic and one for regular. The names of these fonts often reflect this.

You could use `extract_pages` to get the pages of a pdf, and iterate over the elements in it. For

[2020-03-24 22:01] #189 closed

[2020-03-24 22:02] pietermarsman commented on #403
Hi @jjhuff, thanks for your question!

Which version of pdfminer.six are you using? And what command are you using?

[2020-03-24 22:03] pietermarsman commented on #404
Hi @jjhuff, thanks for raising this issue!

What version of pdfminer.six are you using? And what command are you using?

[2020-03-24 22:19] jjhuff commented on #403
I was using 20200124
The code is more or less this, but I believe it should repo with pdf2txt
[code]

[2020-03-24 22:19] jjhuff commented on #404
I was using 20200124
The code is more or less this, but I believe it should repo with pdf2txt
[code]

[2020-03-25 06:30] yifei325325 commented on #400
具体要怎么操作？需要什么软件，悉听指教！

[2020-03-25 06:39] Tam678 commented on #397
Hi @pietermarsman ,thanks for you help.I'm trying to use the newest version of pdfminer.six.
Before using the newest one,I've changed line_margin in LAParams().It works,but there still exited something contents incorrect.Anyway,thank you very much for your response！

[2020-03-25 07:08] Tam678 commented on #400
都是用python的包，然后调用百度的OCR文字识别接口提取内容。
（指教谈不上哈，我也是刚入门，也是想多交流以便积累经验。

[2020-03-25 07:46] fabbox opened #405 "pdf2txt.py and pdfdump.py should have a shebang"
Both scripts in tools/ doesn't contain python interpreter line (#!/usr/bin/env python) which prevent their correct execution when packaged and installed.

From https://bugs.archlinux.org/task/65939 :

#!/usr/bin/env python was removed from pdf2txt.py by [1] [2] and from duppdf.py by [3] [4].
The commit messages do not explain the removal while commit [5] notes the need for them.

[1] https://githu

[2020-03-25 07:56] yifei325325 commented on #400
谢谢！我也是通过你的提示才发现那两篇pdf文档确实不同，一篇是word直接转pdf的，一篇是扫描版的，看来只能用OCR了。再次感谢！

[2020-03-25 15:59] marianorodriguez commented on #402
Hi @pietermarsman,
That parameter solved my issue, thanks for your quick reply!

Feel free to close this issue, take care.

[2020-03-25 16:58] Filip98 commented on #350
Encountered this too
Or just make a ignore flag, there's many tools that ignore this, hell even opening the .pdf in firefox allows me to copy the text of protected .pdf's

[2020-03-25 17:08] pietermarsman commented on #350
@Filip98, if you feel like creating a PR, I'll make sure that it gets reviewed and merged.

[2020-03-25 17:09] #402 closed

[2020-03-25 18:00] Kijimu7 opened #406 "Unable to read pdf2txt.py samples/simple1.pdf on my Windows command prompt"
**Bug report**

I have tried many things I can think of but I am not able to run the command. I was able to install the pdfminer using pip install pdfminer but I cannot run the command.

My python version is 3.8.2, I am using Windows 10

I checked #355 and #365

I tried windows  power shell but it didn't work
My pdf2txt.py is located on C:\Users\MYUSERNAME\AppData\Local\Programs\Python\Python38-32

[2020-03-26 06:18] lharinarayanan commented on #340
@pietermarsman your solution seems to work just fine. Thanks

[2020-03-26 21:29] pietermarsman commented on #403
I can replicate this issue using `pdf2txt.py`. The full error I get is:

[code]

[2020-03-26 21:38] pietermarsman commented on #404
I can replicate this using `pdf2txt.py`. The problem happens on page 5.

You can fix your problem by increasing the `line_margin`. Setting it to 2.0 fixes it for me. This merges more lines into text-boxes and makes the next analyse step (the one with the recursion error) easier.

I'm not sure what causes the problem so I would like to keep this issue open until we figure out if there is something

[2020-03-26 21:39] #397 closed

[2020-03-26 21:43] pietermarsman commented on #405
I think I removed some in the past because I did not understood what they are for. Adding them adds another way of interacting with pdfminer.six; using `$ pdf2txt.py file.pdf` (without prefixing it with python).

I think its a good thing if we introduce them again. Are there shebangs that work for all kinds of python environments (e.g. conda, virtualenv, pipenv, system python, etc.)?

Also see #21

[2020-03-26 21:46] pietermarsman commented on #400
Can someone translate this to english?

@Tam678, @yifei325325, can you continue the discussion in english? I am pretty sure that the majority of our contributors can speak better english than CJK.

[2020-03-26 21:48] pietermarsman commented on #406
You need to replace `simple1.pdf` with a path to a pdf. You can find the simple1.pdf in the samples directory of this project (if you clone it). You can also use another pdf on your machine.

[2020-03-26 21:48] #406 closed

[2020-03-26 21:52] #392 closed

[2020-03-26 22:02] #390 closed

[2020-03-26 22:03] #395 closed

[2020-03-26 23:03] Kijimu7 commented on #406
@pietermarsman now I understand what I was doing wrong. Thank you for your reply.

[2020-03-27 02:03] Tam678 commented on #400
Hi!@pietermarsman ,sorry for that.
We are dissuing about the format

[2020-03-27 03:24] Tam678 commented on #400
@pietermarsman ,I 'm sorry for that happened.
We are discussing about the format about PDF.
It can't parse anything While dealing with pdf.The problem I thought was the format of pdf file.It looks like a picture pdf,so I turned the .pdf into .png.And it worked by using OCR to extract the .png file content.
English is not my native language; please excuse typing errors.：)

[2020-03-27 06:12] yifei325325 commented on #400
@pietermarsman
Sorry about that , I'm sure he told you what we were talking about, and I'm just wondering if there's a easy way that can extract text directly from a scanned PDF?

[2020-03-27 07:55] pietermarsman commented on #400
Hi @Tam678 and @yifei325325, the first document looks like a scanned PDF. Pdfminer.six is not able to extract text from images because it inspects the content of the PDF file directly without doing any kind of rendering. If you cannot copy-paste the text, pdfminer.six also cannot extract the text.

For scanned document you need some kind of OCR. I think [tesseract](https://github.com/tesseract-ocr

[2020-03-27 07:55] #400 closed

[2020-03-27 08:59] Tam678 commented on #400
@pietermarsman ,thank you for your suggestion! I'll try.

[2020-03-27 19:51] fabbox commented on #405
Yes, it should work with most of python environments even if I'm not sure on the compatibility with Windows. Note that additionnaly I didn't get the opportunity to test with conda.

[2020-03-30 08:54] jstockwin commented on #383
@pietermarsman So I think I'll try to allow negative values, and add a minimum of `-0.5` when using `plane.find` (i.e. option 1 above).

We still need to decide how we're handling the tolerance in the height, and in the x-axis for the alignment. Note we've added private methods for this now (https://github.com/pdfminer/pdfminer.six/pull/384/commits/a55d4141bf80509ea0a76165f39d1368d3685d85) so hope

[2020-03-30 11:22] jstockwin commented on #383
Hmm, actually @pietermarsman I've just started to have a look at this, and suddenly my example doesn't reproduce the issue any more..

I've run `git bisect` and found that this commit https://github.com/pdfminer/pdfminer.six/commit/fff3ac2ba6121660e0f7178150d665215d8586d7 is where my example stops reproducing the issue.

See the below screenshot:
![image](https://user-images.githubusercontent.com/

[2020-03-30 16:16] SailingSteve opened #409 "A question of expectations: The output is very approximate, and the HTML could be better"
I am trying to highlight political endorsements for use in the non-partisan [WeVote.us](wevote.us) project.  The output from pdfminer.six looks rough, and in places is not very good HTML, which makes it hard to programmatically find the names of the candidates.  My implementation is an unmodified installation of pdfminer.six, except that I copied the [pdf2txt.py](https://github.com/wevote/WeVoteSe

[2020-03-31 13:37] yadavsandip32 commented on #391
hi @pietermarsman , you or some else is working on this issue ?

[2020-03-31 20:48] pietermarsman commented on #391
Not that I am aware of.

[2020-04-01 11:37] #398 closed

[2020-04-01 18:32] pietermarsman commented on #405
According to the python [docs](https://docs.python.org/3/using/windows.html#shebang-lines) it is also compatible with windows.

[2020-04-01 18:44] pietermarsman commented on #383
I'm glad that fff3ac2 fixes the issue for you.

This also makes it more clear what the problem was: having logic on bounding boxes that do not represent what we care about. Previously, when the bounding box could be bigger than the actual character, we would like to specify a minimum overlap. Currently, when the bounding box represents the character better, I don't see a point in doing that anymor

[2020-04-01 18:44] #383 closed

[2020-04-01 19:08] pietermarsman opened #410 "Import google fonts in generated html"
**Feature request**

When using html output the positioning of the characters can be off, because the displayed font is different from the one that is specified. E.g. see #409.

This can be (partially) fixed by importing the fonts from an online source. For [example](https://stackoverflow.com/questions/14676613/how-to-import-google-web-font-in-css-file) Google Web Fonts.

[2020-04-01 19:17] pietermarsman commented on #409
Hi @SailingSteve,

The output you are seeing is currently the best output pdfminer.six can provide.

There are a couple of issues that are not yet fixed:

- The displayed fonts are not the ones that are specified in the PDF. If the browser does not know Helvetica (mine doesn't) it renders a different default font. This font has different sizing and messes up the output. I've seen this before and n

[2020-04-01 20:37] SailingSteve commented on #409
Thanks @pietermarsman  -- your reply answers my question.  This is still a great tool, with some issues to resolve.

[2020-04-05 11:59] TahirHameed74 commented on #138
LAParams didn't work for me i tried changing char_margin,  word_margin, line_margin, line_overlap. The text order remains the same

[2020-04-06 11:16] jstockwin opened #411 "Disabling boxes flow makes lines be in wrong order within text boxes"
**Bug report**

When passing `boxes_flow` as `None`, we don't run the full advanced layout analysis, but rather the order of text boxes will depend on their position on the page only. This is intentional.

If we were passing boxes flow, we'd group the text boxes and then call `analyze` on each group ([here](https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/layout.py#L811)). This filte

[2020-04-07 19:41] pietermarsman commented on #138
Hi @TahirHameed74,

If you have a question, please open a new issue. Don't forget to include the pdf you are using, and the code / commands you are using.

[2020-04-08 23:34] trmanish opened #413 "pdfminer high_level module access issues"
Hi

I am trying to extract a text from pdf. I am trying to use pdfminer in python API format.

When I tried installing pdfminer via

`pip install pdfminer.six`

I got the following in mac terminal:

`Requirement already satisfied: pdfminer.six in /anaconda3/envs/ds/lib/python3.7/site-packages (20181108)
Requirement already satisfied: pycryptodome in /anaconda3/envs/ds/lib/python3.7/site-packages (

[2020-04-09 22:18] cmdavis4 commented on #413
You may want to try `pip install --upgrade pdfminer.six`, I was also having issues with the `high_level` module and updating the package to the most recent version resolved it for me.

[2020-04-10 14:53] kelvin0 opened #414 "Clipping paths implementation"
Hi Everyone,

I've been using Pdfminer for the last few months, I really thing it's a very helpful codebase.

But recently I noticed that clipping paths do not seem to be implemented, I inspected:
\pdfminer\pdfinterp.py

    # clip
    def do_W(self):
        return

    # clip-even-odd
    def do_W_a(self):
        return

The effect of this is that ALL text is extracted from the PDF, even text t

[2020-04-11 23:10] jbarlow83 opened #415 "Unfork this repository"
Contact GitHub support and ask them to "unfork" this repository, making it a primary repository.

That will enable code indexing, and reflects the fact that this is now the actively maintained version of pdfminer.six rather than euske/pdfminer.

[2020-04-12 00:14] trmanish commented on #413
This broke my numpy. The issue with high_level got solved, but now it says no Module numpy when it is still there in my conda env.

[2020-04-12 00:18] trmanish opened #416 "Extracting Particular text fields from pdf files"
Hi

I feel out of all the pdf to text extraction tools, pdfminer has lot of capabilities.

However one big issue I find is that when I convert my pdf to text using pdfminer, the text gets all jumbled up and its difficult for me to extract the right text fields.

For ex. here is a pdf I have.

I want to extract all the Bold headings along with the value they have for it.

Using pdfminer just jumble

[2020-04-13 10:25] dersuchendee opened #417 "How to custom newline (LAparams) when converting to XML?"
I have this document: https://drive.google.com/file/d/18Kmq4kD2Xai7w9KAROIJZ-6baCKjHA5H/view?usp=sharing

And I converted it in XML with PDFminer. Problem is, I want to have a custom newline every time there are those longer whitspaces, for instance, in the first line, I want to have a newline before the "1" because there is a longer space:

Titolo Il Causidico] sps. a Don Rodrigo [ BIG SPACE ] 1

[2020-04-14 02:05] benjaminEwhite opened #418 "PDF Text Extraction Results Differ when running pdfminer on Mac vs. Ubuntu"
**Bug report**

- I'm using the following function `extract_text_from_report` to extracting text from [this Google Mobility Covid19 Report](https://www.gstatic.com/covid19/mobility/2020-03-29_US_Alabama_Mobility_Report_en.pdf)

[code]
- I have code that loads the first page of this report and searches for the string "Parks", in order to get the score that is associated with that field:

<img width

[2020-04-14 02:15] #418 closed

[2020-04-16 07:07] pkGitAccess opened #419 "LTObjects list elements are not in occurrence order from a PDF Page when there are images and figures in the page"
I have a document with images in between the lines of many sizes which I need to extract along with the image as link with the text.

Below is the LT Object order which I get when using PDFPageAggregator and get_result

<LTTextBoxHorizontal(0) 45.800,226.466,246.761,240.446 'Logging Off – Temporary \n'>
<LTTextBoxHorizontal(1) 275.880,241.446,279.407,251.466 ' \n'>
<LTTextBoxHorizontal(2) 20.400,2

[2020-04-19 08:53] eli-schwartz commented on #405
They define how to run a program on Unix. Since they are installed as command-line executables in https://github.com/pdfminer/pdfminer.six/blob/d79bcb75ea08442df0c69af050c0070d0ae036b4/setup.py#L31-L34
there is no choice: they *must* have those shebangs, and to do otherwise is utterly broken. For compatibility with ancient Unix systems, there is a fallback to try (and fail) to execute them as shel

[2020-04-26 22:44] qxnatalie commented on #416
It's better to paste all codes here.

[2020-04-27 17:52] qxnatalie opened #420 "How to extract phrases under subtitle with lots of academic pdfs"
The subtitle of **Keywords** is a necessary part of any academic journal. The words following the **Keywords** only need to be extracted.  Does anyone give me a hint? One example is as follows:

![image](https://user-images.githubusercontent.com/36719487/80403705-9e72ac80-88f2-11ea-8f6c-04c14a36ffe8.png)

[2020-04-28 08:58] #405 closed

[2020-04-28 21:46] trmanish commented on #416
Hi

So here is the code I tried.

[code]

I tried both pypdf2 and textract with pdfminer as the engine.

I get text extracted but all jumbled up. So its difficult to find a regex patter in that then.

I was hoping if pdfminer helps in being able to extract specific text from the pdf corresponding to those headers (Invoice Date, Invoice no. Delivery Charge etc).

Or do u think if any OCR packages c

[2020-04-29 05:11] qxnatalie commented on #416
Hi,

Thank you for the help.

I am still working on that. If any new, I will let you know.

Natalie

------------------ Original ------------------
From:  "Manish";<notifications@github.com>;
Send time: Wednesday, Apr 29, 2020 5:47 AM
To: "pdfminer/pdfminer.six"<pdfminer.six@noreply.github.com>;
Cc: "Nat_UWTSD"<1502208063@qq.com>; "Comment"<comment@noreply.github.com>;
Subject:  Re: [pdfminer/pdfm

[2020-05-01 12:19] zoj613 commented on #377
does it not at least let you extract the image data to use outside of pdfminer? If so then, how? I dont think I have seen any examples showing how to get the image data out of the pdf if it exists

[2020-05-05 08:46] raymond-grointel commented on #19
See https://github.com/pdfminer/pdfminer.six/issues/405

[2020-05-05 17:22] vitalibertas opened #422 "PDF Font Recoginition"
req = requests.get(pdf_url)
    content_type = req.headers['Content-Type']
    modified_date = req.headers['Last-Modified']
    content_buffer = BytesIO(req.content)

    if content_type == 'application/pdf':
        resource_manager = PDFResourceManager()
        fake_file_handle = StringIO()
        converter = TextConverter(resource_manager, fake_file_handle, codec='utf-8',

[2020-05-09 12:54] pietermarsman commented on #414
Hi @kelvin0, are you experiencing problems due to this issue? I assume that the clipping operator is more often used to exclude parts of a drawing, than it being used to exclude part of the text. Anyway, it would be nice to have a pdf to test this on.

If you want to start implementing this, have a look at section 4.4.3 of the pdf reference manual.

You should also adjust the `PDFGraphicsState` cl

[2020-05-09 12:57] pietermarsman commented on #415
Hi @jbarlow83,

Thanks for this reminder. I am going to contact github and see what they can do.

Pieter.

[2020-05-09 13:02] pietermarsman commented on #415
Now we wait...

[2020-05-09 13:04] pietermarsman commented on #413
This is an issue with your installation, so closing this. Try uninstall and installing pdfminer.six / numpy / anaconda3.

[2020-05-09 13:04] #413 closed

[2020-05-09 13:21] pietermarsman commented on #417
Hi! You can try setting boxes-flow to `None`. This disables the box layout algorithm, and does not merge lines into paragraphs. The order can be counter-intuitive but it will put both sides of the big space on a separate line.

[2020-05-09 13:26] pietermarsman commented on #419
Hi @praveenkumar-ravising, could you share the code you are using to generate this order? Depending on the `LAParams` you are using this could be the expected result.

[2020-05-09 13:29] pietermarsman commented on #420
Hi @qxnatalie, you can use the pdf2txt.py command to extract the text from the first page of a pdf. Then, you need to do some post-processing to get the precise result you want.

Below is an example for a linux command that extract the text from page 1 and searches for lines with the word "keywords" in it.

[code]

Also see the documentation: https://pdfminersix.readthedocs.io/en/latest/index.html

[2020-05-09 13:29] #420 closed

[2020-05-09 13:34] pietermarsman commented on #416
Hi @trmanish! Checkout [camelot](https://github.com/camelot-dev/camelot/blob/master/requirements.txt); a tool for table extraction based on pdfminer.six.

[2020-05-09 13:34] #416 closed

[2020-05-09 13:37] #411 closed

[2020-05-09 13:39] pietermarsman commented on #377
Hi @zoj613. Pdfminer.six can be used to extract image data. If you want extra documentation, please open a new issue.

[2020-05-09 13:42] pietermarsman commented on #422
Hi @vitalibertas! Which characters do you expect instead? Is all of the output wrong, or just a part?

Having these (cid:*) in the output often happens when the unicode mapping for those characters are missing.

[2020-05-09 14:38] vitalibertas commented on #422
That whole first page of the attachment is all CID and unrecognized. I would expect the text of that page to show. I’m getting much better results with just OCR’ing the page images with tesseract, wand, and pyocr.

[2020-05-09 15:19] pietermarsman commented on #422
The unicode mapping appears to be missing. E.g. if you try to copy a line to a text editor, you notice that the pasted text is very different. This is a symptom of the same problem. With this pdf, pdfminer.six cannot do much more than outputting unrecognized characters.

[2020-05-09 15:19] #422 closed

[2020-05-10 12:52] pietermarsman commented on #415
Its done :D

[2020-05-10 12:52] #415 closed

[2020-05-10 13:52] xiaocuigit opened #423 "TypeError: a bytes-like object is required, not 'str'"
[code]

This is the test pdf file: [dddd.pdf](https://github.com/pdfminer/pdfminer.six/files/4605741/dddd.pdf)
I use the command: `pdf2txt.py dddd.pdf -t html -o ddd.html`

[2020-05-11 15:26] dersuchendee commented on #417
Hey, thank you very much for your answer! Unfortunately it doesn't work, I really wish there was a guide to set LAParams :(

[2020-05-12 07:13] dersuchendee opened #424 "Conversion PDF to XML mixes up some words"
I have a PDF document that has to be converted into XML, [here](https://drive.google.com/file/d/1Y0n7fWMX7jP_HaVgZMgk8S9gufZCXaoC/view).

But some words/sentences are in the wrong place.

This is my code:

[code]
I don't know what I have to do to fix it, I tried setting up LAParams many times but with no success.

[2020-05-13 16:23] MAkcanca opened #425 "Replacing CID with custom values / mapping"
I've been looking through the source code but decided to ask it before doing something hacky.
There are some characters appear as (CID:XXX) while parsing a PDF, which is understandable. But how can one replace these values with something else? Let's say I want to show A for CID:XXX and B for CID:XXY.
How can I map this? I checked Cmapping but honestly couldn't understand it completely.
Thanks!

[2020-05-15 05:05] ramakth1 commented on #148
do you have code

[2020-05-15 13:52] Belval commented on #414
Clipping path is indeed used to hide text in PDF documents, here is an example that could be used as a starting point: https://mva.maryland.gov/Documents/VR-181.pdf

There is hidden text slightly above the "VR-181 (03-18)". I was able to extract it properly with pdfbox, but not with pdfminer as path clipping is not supported.

[2020-05-16 07:15] mengcius opened #426 ""fi" not recognized"
"fi" The two letters are not recognized when they are joined together, to "??".

pdf eg. https://arxiv.org/pdf/1503.03832.pdf

[2020-05-16 14:17] pietermarsman commented on #423
I can replicate this.

Only happens when `-t html` is used, so probably something is wrong in the `HtmlConverter`.

[2020-05-16 14:18] pietermarsman commented on #417
This might give some insight: https://pdfminersix.readthedocs.io/en/latest/topics/converting_pdf_to_text.html

But I agree that there can be much better guides on this.

[2020-05-16 14:20] pietermarsman commented on #424
Closing because duplicate of #417

[2020-05-16 14:20] #424 closed

[2020-05-16 14:24] pietermarsman commented on #425
Hi @MAkcanca,

As far as I know this is not possible with pdfminer.six. And I don't think we need to add this to pdfminer because you can do this with other tools. Just open the output file (programatically) and replace (cid:xxx) with the character you need.

E.g. if you work on a linux shell:

[code]

[2020-05-16 14:24] #425 closed

[2020-05-16 14:30] pietermarsman commented on #414
Feel free to create a PR. I can do reviews and merge it when ready.

I don't mind if the first implementation only focusses on adding clipping-path behaviour and ignoring additional top-level arguments for enabling/disabling the behavior. We can create another issue for that, if needed.

[2020-05-16 14:39] pietermarsman commented on #426
It is actually extracted as the [Latin Small Ligature Fi ](https://www.compart.com/en/unicode/U+FB01). Perhaps your terminal/text-editor does not support unicode and that's why it shows "??", but on my terminal it shows "ﬁ" (single character).

This is caused by the to-unicode mapping in the pdf and cannot be fixed (or mapped) by pdfminer.six.

You can replace the character for this specific pdf i

[2020-05-16 14:39] #426 closed

[2020-05-17 15:48] #162 closed

[2020-05-17 16:19] pietermarsman commented on #164
I get good results with:

[code]

The problem is that a subscript followed by a superscript prevents the merging of two parts of the sentence adjacent to the sub super. Lines above and below do get merged and that is why the order is scrambles. If you set line-margin to a low value (e.g. `--line-margin 0.1`) almost none of the lines get merged into a box. This allows the boxes-flow algorithm to or

[2020-05-17 16:19] #164 closed

[2020-05-17 16:33] pietermarsman commented on #176
I did some thinking: the problem is basically what kind of default behavior we want:

1. Always print the all trailers and objects, even if the pdf's xref is corrupted or non-existing (current behavior).
2. Only print trailers and objects that are actually in the pdf's xref.
3. Something dynamic; e.g. using a fallback xref if it does not exist in the pdf.

I prefer 2 because it just shows you the

[2020-05-17 20:52] corneliusroemer opened #428 "Performance improvement"
**Feature request**

I did a performance comparison between PDFminer and PyPDF2. It turns out miner is 6 times slower at extracting text (3s vs 0.5s for 10 pages).

I used the high level extract_text().

Maybe timing could be optimized.

[2020-05-18 09:14] praveenkumar-ravising commented on #419
Hi @pietermarsman, thanks for the response.

Please find my code below which extracting the above,

def ParsePages(doc, images_folder):
    rsrcmgr = PDFResourceManager()
    laparams = LAParams(all_texts=False, detect_vertical=True)
    device = PDFPageAggregator(rsrcmgr, laparams=laparams)
    interpreter = PDFPageInterpreter(rsrcmgr, device)
    for (i, page) in enumerate(PDFPage.create_pages(d

[2020-05-18 15:08] corneliusroemer opened #429 "Removing Pycryptodome Dependency: Massive bloat (extra 260 MB)"
**Feature request**

Trying to replace PyPDF2 with pdfminer.six for PDF text extraction in an Alpine Linux Python base container (python:alpine3.7) I hit a significant roadblock because of pdfminer's dependency on `pycryptodome`.

Pycryptodome installation requires gcc and a whole load of other dependencies that aren't present in the light base container (90 MB). It took me a while to figure out h

[2020-05-19 06:22] wlbentley commented on #176
Is the xref actually corrupt in our samples? Or only missing? (And if they are corrupt, should we try to repair them?)

Either way, since I don't know how often bad/missing xrefs occur, I don't have a preference for the default behavior. I was just drawing attention to an anomaly in the samples.

But if we go with your option 2, and it prevents functioning in edge-cases, we should note that in the

[2020-05-21 05:36] fakabbir commented on #391
@yadavsandip32  Looking into this

[2020-05-21 06:40] cjmqwerty opened #430 "Version 20200517 cannot extract correct text from pdf file (version: pdf-1.2) but Version 20181108 can"
Here is a pdf file (pdf-1.2):
http://disc.static.szse.cn/download/disc/disk01/finalpage/2001-09-18/0b1e3780-f338-4761-a796-92b9c7685100.PDF
There are many Chinese characters but I can only get some numbers after using pdfminer.highlevel.extract_text to analyse this file when the pdfminer.six version is the newest(20200517).
But if I changed pdfminer.six version to 20181108 it works fine.
I can't s

[2020-05-21 10:53] pietermarsman commented on #428
Hi @corneliusroemer,

For future references, could you share the pdf you are using?

At this point in time pdfminer.six does not really focus on speed. It focuses on extracting human-readable text. I'm confident that if you disable the pdfminer.six layout algorithm it will be just as fast as PyPDF2.

I'm closing this issue since speed is not a priority right now. Feel free to open another issue, o

[2020-05-21 10:53] #428 closed

[2020-05-21 10:55] pietermarsman commented on #419
Hi @praveenkumar-ravising, forgot to ask, can you also share the pdf?

[2020-05-21 11:34] pietermarsman commented on #429
Hi @corneliusroemer, thanks for this issue!

I'm focussing on the pycryptodome stuff in this response. If you experience the install size of pdfminer.six as a problem, then you should create a separate issue for that.

On the pypi page of pycryptodome it is explicitly mentioned that it is a self-contained package:

Do you know why you need to install these c libraries then?

**Impact**
As far as I

[2020-05-21 14:00] corneliusroemer commented on #428
Hi @pietermarsman, here's the PDF type I'm using: https://www.rki.de/DE/Content/InfAZ/N/Neuartiges_Coronavirus/Situationsberichte/2020-05-12-de.pdf?__blob=publicationFile

How do I disable the layout algorithm from the high-level extract_text() function?

[2020-05-21 14:50] pietermarsman commented on #176
simple1.pdf and simple3.pdf are actually missing the xref. So the single output is the fallback xref.

The xref is just a pointer to the location of all the objects in the PDF. It is easy to replace by iterating over all the objects. I think it is a nice thing to do.

Overall, I think I prefer 2. That is to say, change `dumptrailers()` such that it only prints trailers that are actually in the PDF

[2020-05-21 15:05] pietermarsman commented on #430
I did a `git bisect` and the issue was introduced in fa400431f571de9197ab72ffc5dd9f7d76826474.

Closing this as a duplicate of #391.

@cjmqwerty you can comment on #391 saying that you also experience this issue.

[2020-05-21 15:05] #430 closed

[2020-05-21 15:10] pietermarsman commented on #428
That's not possible with `extract_text()`...

You can try this:

[code]

[2020-05-21 16:09] wlbentley commented on #176
An informative warning sounds like a good solution to me. Better than silently ignoring an anomaly, and certainly better than the current double output behavior.
On May 21, 2020, 07:50 -0700, Pieter Marsman <notifications@github.com>, wrote:

[2020-05-21 16:15] pietermarsman commented on #176
I've implemented the infomative warning in #431. Do you have time for a review?

[2020-05-21 16:15] pietermarsman commented on #180
Closing this because not reproducible.

[2020-05-21 16:15] #180 closed

[2020-05-21 16:19] pietermarsman commented on #182
Hi @typhoon71, I'm closing this as it seems that you've resolved the issue. If your question has not been answered, feel free to reopen.

[2020-05-21 16:19] #182 closed

[2020-05-21 16:22] pietermarsman commented on #188
Hi @remondulos,

Is this problem still relevant for you? Could you maybe add an example pdf that shows this behavior?

I expect that the PDF specifies that the unicode value of the greek symbols are the latin (normal) alphabet characters. And thus there is not much we can do. But without an example PDF there is no way to tell if this is indeed the case.

[2020-05-21 17:00] pietermarsman commented on #191
Hi @ZanonEdoardo! I tried testing this but it's hard to come up with a stream that does not have a mode (i.e. file handlers) or is StringIO or BytesIO. The cStringIO.StringIO does not exist anymore in Python 3. Do you know what other stream someone wants to use?

As a solution to this problem I wanted to write a backslash character to the stream. I guess that works fine, but I cannot test it since

[2020-05-23 16:04] #176 closed

[2020-05-23 16:10] pietermarsman commented on #200
Hi @panoptikum,

By any chance, do you still have the code and pdf that shows this bug? I am going to work on #193 but another testing case is good to have.

[2020-05-23 16:35] pietermarsman commented on #200
The pdf in #193 does not cause an error any more. What about yours?

[2020-05-23 16:38] pietermarsman commented on #193
With the latest version of pdfminer.six I can process this pdf without errors.

The output only contains `(cid:xxx)` values though. I did some looking around and it looks like the embedded font specification cannot be parsed. It has a `FlateDecode` filter (see pdf reference section 3.3) but an error is raised (and excepted) when pdfminer.six tries to `zlib.decompress()` it.

[2020-05-24 10:18] pietermarsman commented on #193
If you clean this pdf with `mutools clean -ldcs` the characters become readable.

[2020-05-24 10:35] pietermarsman opened #432 "Show warning if pdf does not match expectations"
**Feature request**

Pdfminer.six can handle some irregularities in a pdf. This is nice because often PDF's do not follow the standard. This might cause unexpected results, and people might attribute these to pdfminer.six while in fact the PDF is the root of the error.

By showing a warning we make users aware that the PDF itself might be the root problem. Also, when people ask for help, this give

[2020-05-24 10:35] pietermarsman commented on #193
I'm closing this as the original issue is resolved.

[2020-05-24 10:35] #193 closed

[2020-05-24 10:38] pietermarsman commented on #200
I'm closing this one since it is fixed for #193 and https://github.com/euske/pdfminer/issues/96 (referenced in  https://github.com/euske/pdfminer/pull/159).

[2020-05-24 10:38] #200 closed

[2020-05-24 10:49] pietermarsman opened #433 "More verbose output if image encoding is not detected"
**Feature request**

When the image encoding is not detected, the raw bytes of an image is written as a `<bits>.<width>.<height>.img` file to the harddisk. I am not aware of any picture viewer that can open these files.

Pdfminer.six should raise a warning for each of those files, making the user aware that something is off with the output.

Example pdf: https://www.robots.ox.ac.uk/~vgg/publicatio

[2020-05-24 10:55] pietermarsman opened #434 "Some images are not extracted as viewable images"
**Bug report**

If an image encoding is not recognized the image is written as a .img file. But the pdf can show the images so the extracted images should also be viewable.

Example pdf: https://www.robots.ox.ac.uk/~vgg/publications/2012/parkhi12a/parkhi12a.pdf

Command:

[code]

It extracts _Im1.8.16x237.img_ which cannot be shown by an image viewer. Also all the bmp images seems to be broken.

S

[2020-05-24 11:00] pietermarsman commented on #196
Solution: only install 1 version of pdfminer in your python environment. Remove all versions of pdfminer (e.g. PDFMiner or pdfminer3k). Then install pdfminer.six with `pip install pdfminer.six`.

[2020-05-24 11:00] #196 closed

[2020-05-24 11:03] pietermarsman commented on #197
Update: the project is deforked from the original pdfminer.

[2020-05-24 17:30] pietermarsman commented on #198
Yes, you can. Every `LTImage` object has a `stream` attribute that is a `PDFStream` object. The `PDFStream` object has an `objid` attribute.

For example:

[code]

Example output on [this](https://www.robots.ox.ac.uk/~vgg/publications/2012/parkhi12a/parkhi12a.pdf) pdf.

[code]

[2020-05-24 17:30] #198 closed

[2020-05-24 17:47] pietermarsman commented on #207
I agree that it is a little bit weird to include these into the package. But on the other hand, it worked for years and it is really easy to use. Also, they don't change a lot.

Alternatives are:

- generating them when they are needed. I think one of the tools/ scripts can do this.
- generate them during setup.py (https://github.com/pdfminer/pdfminer.six/pull/271, https://github.com/pdfminer/pdfm

[2020-05-24 17:57] pietermarsman commented on #209
The error is a dictionary specification with an uneven number of items. The dictionary should contain an even number of items, because it alternates keys and values. I think the error is the `/'\x00'` after the long `ColorSpace` value and before the `BitsPerComponent`. This byte should either be part of the stream or not there at all. If you remove it (in two places) the PDF processes fine.

I was

[2020-05-24 17:57] #209 closed

[2020-05-25 04:01] praveenkumar-ravising commented on #419
hi @pietermarsman,

I am attaching one sample single page PDF which I created along for showcasing and below is the extracted layout LTObject which has scrambled text and image order,

<LTTextBoxHorizontal(0) 306.050,679.780,308.545,690.820 ' \n'>
<LTTextBoxHorizontal(1) 540.100,679.780,542.595,690.820 ' \n'>
<LTTextBoxHorizontal(2) 77.400,646.900,229.705,657.940 'est the Image and Text Extraction

[2020-05-30 04:29] johnlinp opened #435 "The output of pdf2txt.py has incorrect order of the lines (python2 will generate correct output)"
**Bug report**

*Reproduction steps*

1. Download the sample pdf: https://github.com/johnlinp/misc-demo/blob/master/pdfminer-six-python-versions/sample.pdf
1. Run `python3 /usr/local/bin/pdf2txt.py sample.pdf`

*Expect result*

In the original PDF file, this paragraph
[code]
is between the list item `1、住宅區` and `2、商業區`.

Therefore, I expect that the result will be:
[code]

*Actual result*

The par

[2020-06-04 08:10] praveenkumar-ravising commented on #419
hi @pietermarsman , is there any direction for the posted concern!

Thanks is advance.

[2020-06-04 11:16] giangttbkhn opened #437 "How to know 2 textline is the same sentence"
I working in domain: CV layout analysis.
I have a question. I using xml format to get position of char,word,sentence to layout analysis, but pdf2text always return 1 line in tag <textline>. I want textlines that same sentences actualy group to tag <textline>.

Same as using **Comand+C** all text of PDF file ---> **Comand V**. Result, I receive actualy sentences in a line.

Can you help me!

[2020-06-06 13:37] dwalton76 commented on #391
Post https://github.com/pdfminer/pdfminer.six/commit/fa400431f571de9197ab72ffc5dd9f7d76826474 `CMapDB.get_cmap(cmap_name)` will only be called `if cmap_name in IDENTITY_ENCODER`. For the Chinese characters in the PDF in this issue the cmap_name is `UniGB-UCS2-H`. If get_cmap is called for `UniGB-UCS2-H` it has the info needed to create the cmap.

[code]

I have not tested on other PDFs but for the

[2020-06-06 13:43] pietermarsman commented on #435
Python2 is no longer supported, it should raise an error with the newest version. Which version are you using?

You can get better output by increasing the line-margin. The layout algorithm uses sensible defaults but they don't always give you the perfect result.

Example:

[code]

[2020-06-06 13:43] #435 closed

[2020-06-06 13:47] pietermarsman commented on #437
Hi @giangttbkhn,

Thanks for your question but I am not totally sure what you are asking. I think it has something to do with the order of the lines in the output.

Could you maybe add an example document and show what is going wrong?

[2020-06-06 14:35] pietermarsman commented on #391
Thanks @dwalton76. I've used your analysis as a starting point.

Someone wants to review my PR: #438?

[2020-06-07 10:47] johnlinp commented on #435
Thank you for the suggestion. I'll try using `--line-margin`.

[2020-06-08 10:38] paulrougieux opened #439 "Command line tool pdf2txt.py not available after pip install"
I installed pdfminer.six with pip3, as shown by

[code]

But I don't have access to the command line utility because the pdf2txt.py is not in the local library as shown by :

    find ~/.local/lib/python3.7/site-packages/ -name pdf2txt.py

For information other scripts are available in there such as:

    find ~/.local/lib/python3.7/site-packages/ -name pdfdocument.py
    /home/paul/.local/lib/pyt

[2020-06-08 10:45] #439 closed

[2020-06-08 10:58] paulrougieux commented on #439
The utility is simply available directly (without python prefix) in bash as :

    $ pdf2txt.py --version
    pdfminer.six v20200517

[2020-06-08 15:38] NickFabry commented on #439
To amplify what Paul Rougieux said - typically, the CLI tools are not installed in the same directory as the python libraries. For instance, on my machine, the pdfminer.six tools are installed in:

/Users/fabry/Library/Python/3.8/lib/python/site-packages

You can find this by opening up a python shell, and typing the following:

Somewhere in that path is where your (depending on whether you instal

[2020-06-09 14:06] tongbaojia opened #441 "Type check for obj in PDFPageInterpreter"
**Bug report**

- python type errors are raised when the object is not of type `PDFStream`.
The obj type can be `byte`. There is no type check when using the functional call `in`.
https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/pdfinterp.py#L840

- The pdf file is attached as `sample.pdf`
```python pdf2txt.py "sample.pdf" --pagenos "1"```

- stacktrace.
[code]

[2020-06-16 06:50] HeroadZ commented on #350
Can't believe this problem still exists.
In my opinion, some users have suffered for this problem. There are also some discussion on [stackoverflow](https://stackoverflow.com/questions/39981980/pdfminer-pdftextextractionnotallowed-error/55457497).
I mean, "add an optional argument" is simple and doesn't have any bad effect on old codes.
I agree with the optional argument, check_extractable.

[2020-06-17 19:05] nate-bush opened #443 "Height of character boxes is not correct"
**Bug report**

Description: Height of character boxes is not correct on some fonts. I removed other font and graphical items from the PDF to isolate the problematic character boxes.

![image](https://user-images.githubusercontent.com/56841691/84939155-c41a6780-b092-11ea-8a88-e9b6547ea0db.png)

Steps to reproduce:
1. Run the script provided below on the provided PDF.
2. Open the output image `pdf_

[2020-06-18 08:24] 27ShanuGarg commented on #197
May I know how to get the layout of whole pdf

[2020-06-18 13:30] devtula opened #444 "how to extract all font files. Need an example"
How to extract all font files? And any other not visible data.

[2020-06-18 15:38] timtangcoding opened #445 "Failed to get text from pdfs from same publisher. Got KeyError: 'N'"
I'm getting the following error when running pdf2txt.py on certain pdfs. I've noticed that it seems the error that I encountered are from the same publisher (However not every PDF from the publisher).
Even if I tried to check for the error and avoid crashing. There seems to be no content obtained from the PDF.
How could a PDF file so widely distributed results so differently?
Also, as the PDF is c

[2020-06-22 02:48] d362622563 opened #446 "all_texts=False result in missing newlines"
I am trying to process a pdf document with following code:
`text=extract_text(pdf_file=open('***.pdf','rb'),laparams=LAParams(all_texts=True))`

The extracted text are in correct format but wrong sequence:
![all_texts=True](https://user-images.githubusercontent.com/67249800/85243783-53e65a00-b475-11ea-9c8b-dacb0fa2d078.jpg)

When I change the code into:
`text=extract_text(pdf_file=open('***.pdf','

[2020-06-23 13:28] pietermarsman commented on #350
Hi @HeroadZ, feel free to work on this. I can review, merge and publish the code.

[2020-06-23 13:33] Recursing commented on #350
You can still merge #351

[2020-06-23 14:48] jstockwin commented on #446
@d362622563 Is there any chance you could provide the PDF to test this?

`all_texts` should not change this behaviour IIRC, since it's only about whether to perform layout analysis on text in figures. That said, it could be that some of your text is indeed inside figures...

You mention that the text is in the correct/incorrect sequence. Another thing that can change this is `boxes_flow`. In the m

[2020-06-23 15:10] jstockwin commented on #417
@dersuchendee I think you're really close. Actually you don't need to change your `word_margin`. What is happening is that the lines in each block are very close together, and so are being merged into a single text box, with explicit new lines at the end of each line.

To have a new line after the big gap, we want each bit to be it's own text box. We therefore want to stop each block from being a

[2020-06-24 01:16] d362622563 commented on #446
Hi @jstockwin, thanks for your reply. I cannot share the whole document since it is confidential, however I have extracted one page with only one paragraph to test the code, appreciate if you could find a way to keep the newlines when all_texts=False.

[ENV.pdf](https://github.com/pdfminer/pdfminer.six/files/4822673/ENV.pdf)

[2020-06-24 07:51] jstockwin commented on #446
Hi @d362622563, so I can see that actually all the text in your PDF is inside a figure. This is a bit strange, but it simply due to how the PDF is structured.

The reason, therefore, that you're not getting any newlines with `all_texts=False` is because layout analysis is not being performed on this text, and hence the newlines are not inserted.

You want layout analysis for the new lines, so need

[2020-06-25 00:59] d362622563 commented on #446
Hi @jstockwin, thanks a lot for your advice, after applying boxes_flow=None, the results are much better!

[2020-06-25 08:47] jstockwin commented on #446
Glad to help @d362622563. If you're happy with your output now, would you mind closing this issue?

[2020-06-26 00:45] #446 closed

[2020-06-26 03:20] gaojie058 opened #447 "Failed to convert files with CID fonts."
**Bug report**
Hi developers! Thanks for providing this wonderful tool for us! I have found some issues when I was using this tool.

### Description
When I converted [this paper](https://www.dropbox.com/s/i1s58dw2icg0r26/test.pdf?dl=0) to txt, I followed all the steps you suggested but I still failed and got some "cid: xx" results.

### Results

CHI 2020 Paper

CHI 2020, April 25–30, 2020, Honolul

[2020-06-26 16:41] tongbaojia commented on #441
[sample.pdf](https://github.com/pdfminer/pdfminer.six/files/4838149/sample.pdf)

[2020-06-26 19:31] nate-bush commented on #444
You might consider using PyMuPDF to create font files from fonts embedded in a PDF. https://github.com/pymupdf/PyMuPDF/wiki/How-to-Extract-Fonts-from-a-PDF

[2020-06-26 20:48] aninda052 commented on #419
i'm facing same issue here, though in my pdf there is no Image .  i'm getting disordered LTTextBox .

[2020-06-27 12:34] mkw18 opened #448 "PSEOF: Unexpected EOF"
[code]

When I run the code above, I encounter the following errors:

Traceback (most recent call last):

  File "C:\Users\SC\Documents\Sophomoreii\SRT\clinic\pdf_clinic.py", line 82, in <module>
    extract_text(pdf_path)

  File "C:\Users\SC\Documents\Sophomoreii\SRT\clinic\pdf_clinic.py", line 76, in extract_text
    for page in extract_text_by_page(pdf_path):

  File "C:\Users\SC\Documents\Sop

[2020-06-28 23:22] R0bk opened #449 "Paragraph clustering will join empty lines into paragraphs"
In some misgenerated PDFs I've found that there are empty lines placed in between the actual lines, this causes the paragraph clustering algo to group the empty lines into a single large paragraph, messing up any following tools that rely on paragraph bounding boxes.

![out_lines](https://user-images.githubusercontent.com/8757589/85960855-cf05be00-b9e9-11ea-948f-ff9cc87f77bd.jpg)
You can see above

[2020-06-29 18:07] #361 closed

[2020-06-29 18:29] pietermarsman commented on #443
I can replicate this issue with the newest version of pdfminer.six. Tried cleaning the pdf with mutools and running the code again, but no difference.

[2020-06-29 18:30] pietermarsman commented on #197
So any great ideas for a punchline?

[2020-06-29 18:34] pietermarsman commented on #419
I'm not sure what's going on. I'm also not sure if this is a bug or if the order of objects is an implementation detail that is not guaranteed. I need to look into this, but that can take a while. Feel free to propose a solution if you have one.

[2020-06-29 18:37] pietermarsman commented on #449
Can you print the objects that make up these empty lines? I think these are `LTAnno` objects. These represent objects that are not actually in the PDF. They are inserted to make the textual output look better.

In PDF's often the space and newline character are not explicitly printed. It is just whitespace between characters.

[2020-06-29 18:38] pietermarsman commented on #448
Hi @mkw18, thanks for sharing the stacktrace and code. Can you include the PDF that you use such that we can reproduce this issue?

[2020-06-29 18:41] pietermarsman commented on #444
If they are embedded files, you can use the `--extract-embedded` flag on `dumppdf.py`.

However, pdfminer.six is aimed at extracting human-readable text from PDF's, not font files. There are other tools that are better suited for this. For example, [MuPDF](https://mupdf.com/docs/manual-mutool-extract.html).

[2020-06-29 18:41] #444 closed

[2020-06-29 18:44] pietermarsman commented on #441
I can replicate this issue using the newest pdfminer.six.

[2020-06-29 18:48] pietermarsman commented on #447
Hi @gaojie058! Unfortunately there is little we can do to solve this. Most pdf's specify a unicode mapping for all each glyph in the font. If this unicode mapping is missing we cannot convert the glyphs to unicode. It is like the PDF only specifies how to draw a character, but it does not give a translation to which character it is.

You can see that this is the case by copy pasting a word out of

[2020-06-29 18:48] #447 closed

[2020-06-29 18:50] pietermarsman commented on #417
@dersuchendee does that work for you?

(I am closing this as I think this question is answered by @jstockwin)

[2020-06-29 18:52] pietermarsman commented on #445
Hi @timtangcoding, can you share the code you are using? And also include the PDF that raises the KeyError. That way we can reproduce the issue.

[2020-06-29 21:05] HartBlanc commented on #180
I have no idea if this will help anyone else, but I was able to resolve the problem by deleting a random page of the document in Preview (MacOS) (both the last page and a random page in the middle worked).

I did some very basic debugging, the value of `dest` passed to `resolve_dest` was a bytes object (b'merged-report.toc'), which doesn't seem to match any of the cases.

Unfortunately, I cannot s

[2020-06-30 00:38] R0bk commented on #449
Here's one of the empty lines

`{'x0': 127.56, 'y0': 635.0954096999999, 'x1': 130.16243445, 'y1': 644.4566847, 'width': 2.602434450000004, 'height': 9.361275000000091, 'bbox': (127.56, 635.0954096999999, 130.16243445, 644.4566847), '_objs': [<LTChar 127.560,635.095,130.162,644.457 matrix=[9.36,0.00,0.00,9.36, (127.56,637.08)] font='TgiIHCRX+ArialMT' adv=0.278 text=' '>], 'word_margin': 0.1, '_x1':

[2020-06-30 08:14] dersuchendee commented on #417
Honestly, it doesn't work... it messes up words and boxes flow = None gives error, replacing it with 0 works but there are still some issues.

[2020-06-30 08:15] dersuchendee commented on #417
Honestly, it doesn't work... it messes up words and boxes flow = None gives error, replacing it with 0 works but there are still some issues.

[2020-06-30 08:31] jstockwin commented on #417
@dersuchendee what version are you using? `boxes_flow=None` is new so you might need to update. It's different from `boxes_flow=0`.

IIRC on old versions you can get the same behaviour by passing boxes_flow outside the -1 - 1 range, e.g. `boxes_flow=2`.

If you're up you date but it's still giving an error, what's the error?

If there are still issues after using `None` (or 2), what are they?

[2020-06-30 08:40] dersuchendee commented on #417
@jstockwin Just to be sure, is this correct?

`from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import HTMLConverter,TextConverter,XMLConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage`

or do I have to put .six or 3?

[2020-06-30 08:47] jstockwin commented on #417
That's correct. You need to use `pdfminer.six` for pip install etc, but when importing it's just `pdfminer`.

[2020-06-30 09:11] dersuchendee commented on #417
Okay, done! After the upgrade it converts no text.

Code:

`from pdfminer.pdfinterp import PDFResourceManager, PDFPageInterpreter
from pdfminer.converter import HTMLConverter,TextConverter,XMLConverter
from pdfminer.layout import LAParams
from pdfminer.pdfpage import PDFPage
import io
import lxml.etree as etree
import re
from xml.dom import minidom
from xml.etree import ElementTree as ET
import pa

[2020-06-30 10:11] jstockwin commented on #417
@dersuchendee That code has a few changes from your original one, and I still don't understand your LA Params (you still don't have boxes flow disabled, you still have a large line margin and a massive char margin). Please try with the ones I said?

If you run your original code snippet from your first post on this issue, but change the LAParams to `laparams2 = LAParams(all_texts=True, line_margin

[2020-06-30 10:29] dersuchendee commented on #417
@jstockwin I tried with yours, but it still won't work :/ I don't understand

[2020-06-30 10:43] jstockwin commented on #417
Hm, then me neither. Is the output on my dropbox link what you're looking for?

What is the error? Or just the output is different for you?

You said there was an error during installation, what was that error?

I am using `pdfminer.six==20200517` and this is my code:

[code]

[2020-06-30 10:47] gaojie058 commented on #447
Hi developers, I dealt with this problem finally. Your tool is great! Thanks 👍

[2020-06-30 11:08] dersuchendee commented on #417
I have the same version as you, and the error is: `ERROR: pdfplumber 0.5.16 has requirement pdfminer.six==20200104, but you'll have pdfminer-six 20200517 which is incompatible.`

[2020-06-30 11:09] jstockwin commented on #417
I don't think that error should matter, since it's about another package...

What happens when you run the code?

[2020-06-30 11:12] dersuchendee commented on #417
Your code works, but when I use it in my pipeline it returns nothing at all, while it did before!

I don't understand, because the xml output should be the same anyway.

Full code:

[code]

[2020-06-30 11:24] jstockwin commented on #417
Again, you still have the wrong layout parameters in your code, please try the ones I sent.

If I fix that, your code writes a file called `be.xml` which has the correct contents.

Perhaps the issue is that you need to read the file somewhere, but it since the written output is correct I'm not sure this is a bug with `pdfminer.six`?

[2020-06-30 11:30] dersuchendee commented on #417
Even with your parameters, it won't work. The code works with version `20200104`, I might as well keep on working with that at this point! I don't know what could be the difference

[2020-06-30 11:37] jstockwin commented on #417
Hm, I'm not sure. I'm afraid I don't have the time to look through your code at the moment. You said at some point that my code worked, so perhaps start there and build up until you find the issue? Given it writes the correct xml file, I think it must be something after that. Sorry I can't help further

[2020-07-02 12:06] tuner007 opened #452 "How to extract font size with words ?"
i can check that pdfminer provides output in form of text,html,xml and tag.

In text file output it is difficult to differentiate headings with next sentences.
I thought if i can get font size for words i can use it.

I tried XML but font size is available for each and every letter instead of a word.

Is there a simple way out to separate headings with next sentences?

Thanks !

[2020-07-03 01:14] madhurcodes commented on #350
Encountered this error today causing me to redo a batch job :<
Submitted this PR [#453 ](https://github.com/pdfminer/pdfminer.six/pull/453) to change the error to a warning with a descriptive message to the user.

[2020-07-03 12:30] kyprifog commented on #447
@gaojie058 how did you deal with this problem?

[2020-07-03 18:10] mhrmsn opened #454 "Bounding boxes on characters with rotation are incorrect"
Using pdfminer.six 20200124.
Bounding boxes on characters that are not strictly horizontal or vertical are incorrect. I assume this is because bounding boxes are only defined with two points (x0, y0), (x1, y1) which are rotated with the rotational matrix (around the center of the character's diagonal?), without further processing. These two new points can even lie above each other defining a bound

[2020-07-04 08:54] tycho commented on #180
I can reproduce this issue with the current version of the ARMv8-a reference manual PDF:

https://developer.arm.com/documentation/ddi0487/latest/arm-architecture-reference-manual-armv8-for-armv8-a-architecture-profile

[2020-07-05 11:03] pietermarsman commented on #417
**On the original problem**

Try the code sample below. The `char_margin` makes sure that the longer whitespaces split into two lines. The `line_margin` makes sure that those two lines never get merged into a box.

[code]

The output is:

[code]

@dersuchendee make sure that you post a minimal reproducible example. Using these large code fragments makes it difficult to pinpoint what's going wrong.

[2020-07-05 11:03] #417 closed

[2020-07-05 11:09] pietermarsman commented on #446
I would expect the layout analysis to be applied on the figure text as well

[2020-07-05 11:11] pietermarsman opened #455 "Apply layout analysis on figure text (all_texts=True) as well"
**Feature request**

If `all_texts=True` is used, text is also extracted from figures. Contrary to my expectations t, the layout analysis is not applied to this text.

This was first sugested by @jstockwin in https://github.com/pdfminer/pdfminer.six/issues/446#issuecomment-648658172

[2020-07-05 11:31] pietermarsman commented on #449
It could definitely be that PDF's with space characters give counter-intuitive results. And the layout algorithm should ignore these characters. So this feature request is accepted!

If you have time to work on it, feel free!

I'm not sure what the fix should be. I think the space must be part of the output when enumerating all the objects. But not part of the output when analyzing/converting to t

[2020-07-05 11:42] #441 closed

[2020-07-05 11:54] pietermarsman commented on #452
Hi @tuner007,

There is no way for pdfminer.six to get the font-size of words, since for each word the font-sizes of each of the letters can differ.

You can create your own logic on top of the output of pdfminer.six by programatically extracting the text. For example, to get all the characters with their font sizes you can do the following:

(Note I am using the font-size-test.pdf from the sample

[2020-07-05 11:54] #452 closed

[2020-07-05 11:58] pietermarsman commented on #350
Hi @madhurcodes, thanks for your work on this. I'll review the PR.

[2020-07-05 12:03] pietermarsman commented on #447
@gaojie058 also currious how you did it. Is there a way we can add your solution to pdfminer.six?

[2020-07-05 12:13] pietermarsman commented on #454
Hi @mhrmsn, thanks for raising the issue. Also, very nicely illustrated. It would be very nice if we can add support for rotated characters! Could be a unique selling point.

Not sure how to do it yet though ;) For starters we could make sure that the bounding boxes surround the whole character. But it would be even nicer if we can add native support for rotated bounding boxes. That could also mak

[2020-07-05 12:15] pietermarsman commented on #180
@tycho can you create a new issue for this? Make sure to also include the code/commands that you use.

[2020-07-05 12:21] pietermarsman commented on #188
Closing this as not reproducible (missing pdf).

[2020-07-05 12:21] #188 closed

[2020-07-05 16:15] tycho commented on #180
@pietermarsman It's an identical issue to the OP though, why make a new issue? Basically just `dumppdf.py --extract-toc $pdffile` with the PDF from the link I provided above.

[2020-07-06 09:27] jstockwin commented on #455
Hm, actually @pietermarsman this isn't quite what I meant. Just to enhance on my comment and hopefully make it clearer:

`all_texts` should control whether text is extracted from figures (at least according to the docs).

Expected Behaviour (at least by my understanding):

- `all_texts=True` should extract text from figures, performing layout analysis.
- `all_texts=False` should ignore text in fig

[2020-07-07 09:15] mhrmsn commented on #454
Hi @pietermarsman, yes, support for this would be really nice.
I think surrounding the whole character correctly can be achieved easily by applying the rotation to the other two bounding box points and taking the new min/max x/y values for the new bounding box.

For native bounding boxes and everything that comes with it regarding layout analysis I have no good overview what parts in pdfminer are

[2020-07-07 14:49] jstockwin commented on #197
I don't love it, but this is the best I can come up with:

Something using the phrase "knock for six" (i.e. which originates from getting a six in cricket, I believe)? Note quite sure how to force it in to PDFs, though... maybe "knocking PDFs for 6".

[2020-07-07 15:59] jstockwin commented on #432
This is a good idea. Keeping pdfminer.six robust is very helpful and important, but when we do our best to fix an issue with the PDF, it would be good to be told what is happening. It should be easily turned-off, though.

It might be helpful to be able to turn off certain warnings, too? I.e. if I know I have problem X in my PDF, then I might want to run in strict mode excluding problem X, so that

[2020-07-07 18:40] pietermarsman commented on #455
Ah, oops :facepalm: I thought I was being proactive :wink: I've changed the title and the description to you explanation.

[2020-07-07 18:46] pietermarsman commented on #180
This issue was closed because it is not reproducible. If you create a new issue you should include the command you use, and the pdf you are testing on (unlike this issue).

[2020-07-07 19:23] jstockwin commented on #455
No worries, I should have just opened an issue :)

[2020-07-07 19:38] pietermarsman commented on #454
Proposal: lets start simple in this issue and use the surrounding bounding box approach. That should improve the layout analysis of rotated characters. After that, and if desired, we can add more thorough support for rotated bounding boxes.

[2020-07-07 19:42] pietermarsman commented on #197
Maybe acronyms... but then what would the "x" be :confounded:

Or we could just say what it is: "because we used to use six to support both python2 (not anymore) and python3"

[2020-07-07 19:47] pietermarsman commented on #432
I think I remember the warnings module can be used to silent specific (or all?) warnings.

Extending strict mode to be more configurable, e.g. allowing one problem while raising an error for another, could be another issue.

[2020-07-07 19:54] NickFabry commented on #197
pdfminer.six - because it fathoms PDFs.

(six feet = one fathom. And to fathom something means to deeply understand/measure it.)

Yes, it's a stretch, but it's a whimsical one.

BTW, I really appreciate the solid job of maintaining pdfminer. I worked on it back in 2008 by giving Euske a sample of a thousand or so PDFs I had and working on pdfminer until it could extract the text from every one wit

[2020-07-07 21:06] jstockwin commented on #197
You could spell e.g. "extract" starting with an x... But I'm not sure I like that idea.

I really like fathoms, and if there's some way to phrase it that doesn't need the explanation in brackets that'd be great. Alternatively we just don't give the explanation in most places? I guess this issue will always be here anyway XD.

P.S. cool that you worked in it in 2008!

[2020-07-07 21:18] pietermarsman commented on #197
This goes the whole nine yards :p

[2020-07-08 09:06] jstockwin commented on #432
Yeah, I agree extending strict mode is probably another issue, and maybe not that important.

I think a util function (something like `error_or_warning`) would work well here.

Having just searched the project for `settings.STRICT` there are quite a few hits. It's generally followed by possibly raising an exception, and most of the exceptions have reasonable messages attached. That said, when thro

[2020-07-08 09:15] jstockwin commented on #454
This is a cool idea. However, supporting rotated bounding boxes properly does seem very hard?

Suppose all the text is rotated at 45 degrees. Now all of your character margin, line margin values need to be computed at the given angle before comparing with the layout params to decide if e.g. two text lines are merged into a text box. For an arbitrary angle, this seems like reasonably complex geomet

[2020-07-09 05:44] timtangcoding commented on #445
I was running the sample code pdf2txt.py on some PDF with copyright.

The error suggest a key "N" is expected when it's absent.  Also, even the exception is handled, the content could not be extracted, except for the content page. So The it looks like the PDF might be structured differently from the standard pdfminer based,

However, the PDF was some ebook and is fine when opened with different PD

[2020-07-09 11:15] #212 closed

[2020-07-09 14:12] jstockwin commented on #437
@giangttbkhn Just a quick bump as we're trying to sort through all the open issues. Do you have an example PDF so we can replicate this issue?

[2020-07-09 14:16] jstockwin commented on #414
@kelvin0 Just a quick bump on this issue as we're trying to sort through them. Are you still willing to work on this? As commented above, a PR would be appreciated if you're still interested and able to.

[2020-07-09 14:17] jstockwin commented on #409
Due to the "your reply answers my question", I am closing this issue. It looks as though there is another issue for things that need changing.

feel free to comment/re-open if you disagree.

[2020-07-09 14:17] #409 closed

[2020-07-09 14:21] jstockwin commented on #380
Closing this as I believe the question has been answered. Feel free to comment or re-open if you disagree.

[2020-07-09 14:21] #380 closed

[2020-07-09 14:23] jstockwin commented on #368
@sean2176 Just a quick bump as we're trying to sort through all the open issues. Are you able to provide the PDF in question so that we can look into this?

[2020-07-09 14:25] jstockwin commented on #362
@pietermarsman Did you get any response from other contributors? In my view I think it's fine to drop python 3.4 support, and type hints would be nice.

The only drawback is it might be a slight blocker for other people contributing if they don't know how to use them.

@Recursing I appreciate it's been a long time, but we're currently trying to sort through all the open issues. Is this something y

[2020-07-09 14:29] jstockwin commented on #344
@Tangerino I appreciate it's been a while, but we're going through all the open issues.

You said "With a little research, I saw it is an easy task.", does that mean you were willing to work on this? If so - PRs are very welcome!

(If not, let us know, but it could be a while until any of us gets around to this)

[2020-07-09 14:33] jstockwin commented on #292
Agreed, and I believe we discussed something similar to this on another issue about logging a warning if strict mode is off. I'm putting this card into "accepted" but feel free to move it into needs solution if you still think it needs discussion.

[2020-07-09 14:34] jstockwin commented on #288
@naivefeeling Just a quick bump as we're currently working through all the open issues. Are you able to provide more details on this?

[2020-07-09 14:36] jstockwin commented on #284
@fakabbir Just a quick bump as I'm working through all the open issues. Are you able to confirm if this is still happening? If it is, can you provide an example PDF?

[2020-07-09 14:37] jstockwin commented on #282
@fakabbir I appreciate it's been a while, but I'm going through all of the open issues. Are you still hoping to get around to this at some point?

[2020-07-09 14:38] jstockwin commented on #279
I am closing this due to lack of activity. Both the referenced PRs have been merged. If this is still an issue, please either comment, re-open, or file a new issue.

[2020-07-09 14:38] #279 closed

[2020-07-09 14:39] jstockwin commented on #275
I am closing this due to lack of activity

If it's still an issue, please comment or re-open, and provide the PDF which is causing the issue.

[2020-07-09 14:39] #275 closed

[2020-07-09 14:41] jstockwin commented on #269
This is a nice idea, and we should re-visit. The pricing may have changed by now, as GitHub are being pretty good about what they give open source for free. Additionally, 0.5GB should be plenty.

[2020-07-09 14:42] jstockwin commented on #266
100% agree that some information for contributors would be great. I've moved this to "needs solution" so we can continue to discuss this.

[2020-07-09 14:43] jstockwin commented on #265
This issue is stale. Is this still something we are potentially interested in adding? I don't know how much has changed in the last year or so regarding the decision processes etc. Moving this issue to "needs solution" so we can continue the discussion.

[2020-07-09 14:45] jstockwin commented on #247
This issue has gone a bit stale. @snoopyjc Are you still interested in potentially working on this? @pietermarsman Do you know if it's still an issue at all?

Personally, I'd be up for changing the default. If `None` gives nonsense results, then nobody will be using it, so it's not really that much of a breaking change.

[2020-07-09 14:45] jstockwin commented on #239
Closing this issue due to lack of activity.

Please do feel free to re-open, but an example PDF would be useful so we can track down the issue.

[2020-07-09 14:45] #239 closed

[2020-07-09 14:46] jstockwin commented on #237
Closing this due to lack of activity and it seems the answer to the question is (unfortunately) "no this is not possible".

Feel free to comment/re-open if you disagree.

[2020-07-09 14:46] #237 closed

[2020-07-09 14:47] jstockwin commented on #221
@pietermarsman found this one while going through the issues. Do you have a preferred solution given the above?
@mmiguel If this is still an issue, are you able to open a PR to fix it?

[2020-07-09 14:52] jstockwin commented on #191
@pietermarsman I notice you moved this to in progress. Are you currently working on this? Any updated to your above comment, or are we really waiting for info/a solution?

[2020-07-09 16:56] Recursing commented on #362
They don't need to be mandatory. I think they would definitely help more than harm

Sure

[2020-07-10 08:32] fakabbir commented on #282
@jstockwin Yes, probably I would devote some time for this and some other issues too.

[2020-07-10 08:46] jstockwin commented on #282
That's great, thanks!

[2020-07-10 20:35] pietermarsman commented on #336
Hi @typhoon71! I'm not an expert on extracting form data from PDF's using pdfminer.six so I'm (currently) not able to write any good documentation about this. But I expect that extracting data from PDF forms is a common use case.

Do you know what tools are normally used to do this? Perhaps PDF's have something built in for this? Are you happy with the stackoverflow solution? Do you (by now) know

[2020-07-10 20:47] pietermarsman commented on #339
This pages list 5 different png predictor types: https://www.w3.org/TR/PNG-Filters.html

There is some pseudo-code in there so we should be able to implement this.

It will be a fun project for someone who wants to learn more about the details of png compression.

These images can be used to test the different fitlers: http://www.libpng.org/pub/png/pngsuite.html

[2020-07-10 20:58] lithiumFlower commented on #429
He has to download all the c libs because he's using Alpine linux.  Most linux distributions use the GNU version of the standard C library (glibc). Alpine linux uses musl. So any c pre-compiled c code (pycryptodome c extensions) that links against glibc won't work there.

The result is that pycryptodome's c extensions must be compiled according to the rules of its setup.py. I'm assuming that's wha

[2020-07-10 21:06] pietermarsman commented on #429
Proposal:

- don't install any cryptography package by default
- use `extras_require` in setup.py to specify encryption packages
- use cryptography package for aes, hashlib for sha256, use arc4 from arcfour.py

This removes any dependency on pycryptome and adds a dependency on cryptography.

[2020-07-10 23:14] matthewmcintire commented on #368
I get a (cid:1) on the second line of this pdf. It is a '+' character from a math font.
[0chxb1dv.pdf](https://github.com/pdfminer/pdfminer.six/files/4905865/0chxb1dv.pdf)

[2020-07-11 06:15] typhoon71 commented on #336
I suppose extracting data from PDF forms is a common too, but the forms I had to work with were not the common user case, as they tend to be messy.

The first hurdle is that PDF is a messy format, period. Too much retrocompatibility made it a black hole.

Anyway.

To extract the data from a PDF form you can use Acrobat and extract them as a FDF, which is a file that contains all the compiled data

[2020-07-11 09:02] pietermarsman commented on #445
It will be great if you can provide a sample PDF. Without such an example it is difficult to understand and fix the problem, so we close bug reports without an example PDF.

[2020-07-11 09:08] pietermarsman commented on #432
I agree that showing both the problem, and the thing that we are trying to do about is even better.

I don't think it's a lot of work because the code execution doesn't change. Errors are still raised if strict mode is on, and if its off only an additional warning is shown. So basically, we need to add a lot of warnings in the places were `settings.STRICT` is used.

[2020-07-11 09:33] pietermarsman commented on #344
I like that

[2020-07-11 09:34] pietermarsman commented on #292
This could also make strict mode more configurable like you suggested somewhere else :)

[2020-07-11 09:39] pietermarsman commented on #266
I almost always use the pdf reference to get the information on how stuff should be implemented. In the last year I haven't used any other resource extensively. I think this is the one most valuable resource we should get new contributors to use.

Maybe instead of adding it to the README.md we could add it to CONTRIBUTING.md?

[2020-07-11 09:42] pietermarsman commented on #265
I'm not sure how "big" hOCR is. If it is the go-to standard it interesting to implement. It would allow to compare ocr techniques with pdfminer.six more directly.

We can proceed this issue by doing some research in OCR output formats and which ones are often used.

[2020-07-11 09:50] pietermarsman commented on #247
Yes it is. I think it is most prone in `extract_text_to_fp`.

- It uses `laparams=None` as a default. Other high level function use `laparams=LAParams()` if nothing is specified.
- It creates a `PDFLayoutAnalyzer` with the `None` laparams. In the `PDFLayoutAnalyzer.end_page()` method the layout analyzing is skipped if `self.laparams is None`.

Disabling layout analysis is a valid thing to do if so

[2020-07-11 09:56] pietermarsman commented on #221
Either print whole table or initialize table with an empty list.

A bigger issue might be the performance cost of this log statement. Not sure how often it is called, but it formats the string even if it is not printed. The data should be passed as positional arguments such that `logger.debug` does the formatting only if it needs to be printed.

[2020-07-11 10:01] pietermarsman commented on #191
It's more of a "needs solution".

The core of this issue is that we need to have a way to determine if the output stream supports unicode. If it is not any of the output streams we know, you can test this by printing a unicode character. That character appears on the output stream. This can be fixed by printing a backspace. This works when you print the output to a terminal or so, but it might be

[2020-07-11 10:04] pietermarsman commented on #362
Not that I remember.

I like type annotations so I am pro :)

[2020-07-11 10:10] pietermarsman commented on #336
So having this properly documented with a howto guide makes sense then

[2020-07-11 14:04] #350 closed

[2020-07-11 15:06] jstockwin commented on #362
I also like them so I vote yes

[2020-07-11 15:34] #369 closed

[2020-07-11 15:56] pietermarsman commented on #362
When we add this, we should also add mypy to the travis-ci test run. I just ran it locally, and there are only 8 issues. This surprised me a bit, but maybe its because we dont have type annotations yet. With mypy the type annotations add more value because we detect wrong usage of types earlier.

[2020-07-11 16:15] jstockwin commented on #362
Agreed. Potentially also worth adding pytype as the two tools check different things

[2020-07-11 16:19] jstockwin commented on #247
So perhaps the existence of the high level functions closes this issue, and we should ensure the docs point to these as much as possible?

[2020-07-11 16:46] jstockwin commented on #266
I agree that contributing is probably the right place to add it

[2020-07-11 17:47] snoopyjc commented on #247
I haven’t needed to use this module since last year and my stance that the default needs to change remains.

[2020-07-12 12:08] lithiumFlower commented on #429
@pietermarsman That seems like the appropriate approach if you don't want to support AES encrypted pdfs by default.

I would suggest moving the arc4 routines to use cryptography as well, and to remove the arcfour.py module. This would be faster and more consistent. I can do this in my associated PR if you want.

W.r.t arcfour; Normally there would be a security concern of using your self-implement

[2020-07-12 19:09] iforwms commented on #368
Same issue here. Here's the `pdffonts` output.

[code]

[2020-07-13 12:56] corneliusroemer commented on #429
Some clarification surrounding my claim of 260MB bloat when installing pdfminer:
https://github.com/pdfminer/pdfminer.six/pull/456#issuecomment-657543648

[2020-07-14 08:38] jstockwin commented on #247
Hmm, if we don't want to change it because it's a breaking change, then perhaps we should highlight everywhere in the docs that you're likely to want to overwrite it?

[2020-07-14 20:33] os-gabe commented on #172
I'm having this same problem where my `doc.catalog` has no `Metadata` key and don't quite understand the solution here. Would it be possible to post a super short example of reading a pdf and using the `resolve1` trick to extract metadata?

[2020-07-15 07:59] sowdust commented on #172
You can see how I'm doing in this edited version of "dumppdf.py": https://github.com/sowdust/pdfxplr/blob/master/dumppdf.py built for the tool https://github.com/sowdust/pdfxplr

[2020-07-17 02:45] sight007 opened #457 "how to get table"
i just get the text of table,  how to get table's structure, or such as [[], [],,,,].......?

[2020-07-17 20:14] typhoon71 commented on #336
Hi, I'm back with some good news.

I finally solved my issue with decoding text in pdf forms (see #182).
No need of anything outside of pdfminer; it just took a bit to realize that there was indeed something ready in utils.

So my question now is: would a code snippet that explains how to do it helpful? Where should I post it?

[2020-07-18 13:36] pietermarsman commented on #336
Have a look at this [documentation](https://documentation.divio.com/) guideline. Especially at the "howto" section.

I think the explanation of extracting form data from PDF's is usefull for many others, and a howto guide suits the content. In my mind, the result would be a step-by-step guide on how to extract form data from a given PDF. This can be added to our existing (minimal) [documentation](

[2020-07-18 13:49] pietermarsman commented on #362
I also wanted to add mypy to a work-related project, but after you suggested pytype I did a little research into that. And now I actually prefer pytype over mypy because of two benefits:

- pytype infers types from initialization methods, e.g. if you use `str` it infers the variable is a `str`. Mypy does not infer types and only relies on type annotations so much less coverage.
- It does type infe

[2020-07-18 13:58] pietermarsman commented on #368
If I copy the "+" character to somewhere else I get a different character. That means that the math font does not have a proper translation to unicode character. Thus I doubt if pdfminer.six (or any other tool) can recognize that the character is a [+](https://www.compart.com/en/unicode/U+002B) (by inspecting the content of the pdf) (not 100% sure about this)

@sean2176 can you provide the pdf you

[2020-07-18 14:07] pietermarsman commented on #247
Maybe deprecate and remove `extract_text_to_fp` entirely? I've never liked it that you hand it an output stream and it writes the result to it. And we have better high-level function for extracting text and pages now.

There are many examples of `extract_text_to_fp` on the internet so deprecating might take a while. But by deprecating it we can think of this issue being fixed. Because you shouldn'

[2020-07-18 14:08] pietermarsman commented on #172
@os-gabe if you need more attention for your question you could also create a new issue. Make sure to include the code and pdf you are using.

[2020-07-18 14:10] pietermarsman commented on #457
Hi @sight007! Could you include the pdf and code you are using? That allows us to help you better.

[2020-07-18 14:13] pietermarsman commented on #448
Closing this because not reproducible.

[2020-07-18 14:13] #448 closed

[2020-07-18 14:15] pietermarsman commented on #437
Closing this because not reproducible.

[2020-07-18 14:15] #437 closed

[2020-07-18 14:16] pietermarsman commented on #288
Closing this because not reproducible.

[2020-07-18 14:16] #288 closed

[2020-07-18 14:16] pietermarsman commented on #284
Closing this because not reproducible.

[2020-07-18 14:16] #284 closed

[2020-07-18 14:39] typhoon71 commented on #172
Would something similar to "docs/source/tutorial/extract_pages.rst" be OK?

Also, I'll need some help: how do I add stuff there? Fork PDFMiner, add my file and when it's done do a pull request?
(no experience here)

[2020-07-18 14:42] typhoon71 commented on #336
Would something like what's on _docs/source/tutorial/extract_pages.rst_ be OK? If so I'll do it (soonish).

I suppose I'll need to fork this project, create my doc page, then pull request? No experience here, may ask for help later.

[2020-07-18 14:47] pietermarsman commented on #336
Rather _docs/source/howto/forms.rst_. The rst format can be somewhat difficult to grasp, so maybe look at the other pages to see how it is formatted.

Feel free to ask :)

If you want, you can create a PR immediately after you've created the fork. Then we it to discuss the details of the PR and related questions.

[2020-07-20 01:21] ramcorreio opened #459 "Pages End Tag Not Exists When Xml Export"
**Bug report**

- Pages End Tag Not Exists When Xml Export

A few steps to check. See below:
- read the pdf usgin "open" function native python
- export xml to file using XMLConverter and boxes_flow = 0 and word_margin = 0 in LAParams
- now read the XML generated in the previous step
- using parse in xml.dom.minidom and will see the follow error

[code]

[2020-07-20 02:11] sight007 commented on #457
![image](https://user-images.githubusercontent.com/22489763/87892155-ebd46500-ca6e-11ea-890d-626c53cdcfd1.png)

this is my pdf table sample,  i use code from docs,   the result is :

..........(other text).......
..........(other text).......
二十一、工程做法及选用图集
部位   图集  节点
xxxx xxxx  xxxx
xxxx xxxx xxxx
..........(other text).......
..........(other text).......

these are mixing with other text,  i on

[2020-07-20 07:49] jstockwin commented on #247
Or both? I.e. deprecate the function but also add a warning? Agree we should add replacements first, though...

[2020-07-20 07:50] jstockwin commented on #362
Yeah, I agree it's good. However, there are some things that mypy catches that pytype won't, so using both is a valid option.

[2020-07-20 08:22] sight007 commented on #457
![1595229716(1)](https://user-images.githubusercontent.com/22489763/87914081-b6e20580-caa2-11ea-8436-908c93d8a3bd.jpg)

this's  a table sample of my pdf,  i use code from docs, the result is :

---(other text)----
---(other text)----
二十一、工程做法及选用图集
部位    图集   节点
xxxx     xxxx    xxxx
xxxx     xxxx    xxxx
---(other text)----
---(other text)----

these are mixing with other text, i only want to get

[2020-07-20 19:10] pietermarsman commented on #459
Hi @ramcorreio, after carefull reading of your bug report I assume you're asking the following:

- You are trying to convert a pdf to xml using pdfminer.six
- The resulting xml is not valid according to the python builtin xml parser

Is this correct? That would suprise me because the `</pages>` is written when the `XMLConverter` is closed (see this line).

Could you share the PDF you are using? Ca

[2020-07-20 19:14] pietermarsman commented on #247
So plan of attack:

- Raise warnings when using `extract_text_to_fp`
    * A deprecation warning because the function will be removed in the future (when? 2021?)
    * A warning if `laparams=None` is used, that this is a terrible default and maybe a reference to this issue
- Replace the functionality of `extract_text_to_fp`
    * `extract_html`
    * `extract_xml`
    * `extract_tags`
    * `extra

[2020-07-20 19:17] pietermarsman commented on #362
Lets leave it up to the one who implements it then :p I've moved this to accepted.

[2020-07-20 19:34] pietermarsman commented on #457
Hi @sight007,

Its not possible to get this output using pdfminer.six. A PDF does not have such a thing as a table. It has lines, curves and characters that are printed somewhere on the page. Pdfminer.six is designed to extract text  from this structure. You can also use it to extract the lines that compose the table, but not the actual table structure itself.

If you want to extract tabular data

[2020-07-20 19:34] #457 closed

[2020-07-20 20:00] #429 closed

[2020-07-20 20:37] chu-NMSU commented on #237
https://github.com/0xabu/pdfannots/blob/master/pdfannots.py this script can extract highlight, comments and understrikes.

[2020-07-22 00:10] igavronski opened #460 "How to count words under each heading?"
Hi,
I would like to count the words under each heading (such as those obtained with `dumppdf.py -T`).
Any ideas?
Thanks in advance.

[2020-07-22 16:33] typhoon71 commented on #293
This should be considered fixed when PR #458 will be done: the howto code can parse correctly both of the pdf referenced in that SO post.
The solution was to use the decode_text() method on the fields values, as they can be encoded.
This is a builtin pdfminer method.

[2020-07-22 16:55] typhoon71 commented on #207
I think that it would be better to not use pickle for cmaps, primary concern being security.
Generating them during install would be nice, but using another compression would be good too.

I read some discussion in some closed PR so I tought of giving my opinion here.

[2020-07-23 18:27] #391 closed

[2020-07-23 18:30] pietermarsman commented on #460
Hi @igavronski, you should give some more context. Please add an example PDF to this issue and give an example of the output that you would like to have.

[2020-07-23 18:50] pietermarsman commented on #207
I think its this PR: https://github.com/pdfminer/pdfminer.six/pull/117

The benefit of having the cmaps is the fact that pdfminer.six has "batteries-included": CJK just works. And I'm not seeing the downsides of having them. Why is the increased package size a problem?

The security issue with pickles is a valid one. People need to trust the pdfminer.six community in order to trust the pickles. Th

[2020-07-24 10:30] igavronski commented on #460
Hi @pietermarsman,

An example would be: [lorem.pdf](https://github.com/pdfminer/pdfminer.six/files/4971473/lorem.pdf)

An example output would be:
[code]
Thanks!

[2020-07-28 09:26] ArchangeGabriel opened #462 "No tag for 20200726"
This version has been commited but no tag is available under https://github.com/pdfminer/pdfminer.six/releases

[2020-07-30 07:00] pietermarsman commented on #462
Done

[2020-07-30 07:00] #462 closed

[2020-07-31 09:07] mhrmsn opened #463 "Minimum example for extracting LTChars and LTCurves"
I'm currently trying to analyze PDFs where I want to find certain shapes and letters/numbers in them. For this purpose, all I need are only the LTChar and LTCurve objects of the PDF document. I was thinking that for this purpose I do not require layout analysis or other functionality of the package.

What would be the fastest, straightforward way to obtain only LTChars and LTCurves from a PDF file

[2020-07-31 10:22] Ev2geny commented on #366
pietermarsman, thank you for your feedback.

Can you point me the right direction on creating own extention of PDFDevice? Are there  and examples?

[2020-08-01 13:30] igormp opened #464 "Remove unused rijndael encryption"
[pdfminer/rijndael.py](https://github.com/pdfminer/pdfminer.six/blob/3502dc9f3bc81de721fccde782da844ae8239a0a/pdfminer/rijndael.py) seems to be not used anywhere, and there's no reason to use it over the `cryptography` package, which is already being imported/used by this project.

[2020-08-01 21:27] Ev2geny opened #466 "extract_text mixes lines"
Hi,

I am not able to find any combination of LAParams to correctly convert attached simple PDF to text. In the resulting text lines do not have correct sequence:

Expected result

============================================================
date1	    TEXT11 TEXT 12 TEXT 13		num1	Num2
		TEXT21 TEXT 22
date2		text31

=============================================================

actual result:

===

[2020-08-03 08:18] jstockwin commented on #466
Hi @Ev2geny,

I've had a quick look, and I think `boxes_flow=None` and `line_margin=0.1` is right for you.

To explain, you need a slightly smaller line margin than default to ensure the `TEXT21 TEXT 22` and the `text31` are split into different lines (since they are quite close). `boxes_flow=None` disables the advanced layout analysis, which isn't useful for you.

The following code:
[code]
produ

[2020-08-03 08:39] jstockwin commented on #366
Hey @Ev2geny,
I'm not an expert on doing this, but I think you could follow [this example](https://pdfminersix.readthedocs.io/en/latest/tutorial/composable.html#) from the docs, but you can create your own `TextConverter` class.

If you look at the [existing one](https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/converter.py#L184), you should be able to extend from that, and perhaps o

[2020-08-03 16:30] Ev2geny commented on #466
@jstockwin , thank you very much! This helps!

[2020-08-04 21:20] zangell44 commented on #281
I'm seeing a similar location issue in a document without the tab or newline characters. I've tried playing around with the layout params without any luck. I assume there isn't much else in the way of troubleshooting steps.

Is there a particular component in pdfminer that's likely to be the culprit? I'm not very familiar with the source code but would be happy to take a crack at a fix.

[2020-08-05 07:58] jstockwin commented on #460
@igavronski As far as I am aware, I don't think this functionality is provided as-is. However, since you can explicitly access all of the pdf elements, you can still use pdfminer.six to do this. The following script produces the correct output.

A note on LAParams -> I've chosen the `line_margin` such that the headings get split from the content under them, but the main blocks of content are still

[2020-08-05 08:04] jstockwin commented on #281
@zangell44 Are you also able to share said PDF to help with debugging?

If you wanted to take a look, I suspect a good place to start would be here: https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/layout.py#L292. I'm not particularly familiar with that part of the code so can't give you any more pointers than that, I'm afriad...

[2020-08-05 14:31] zangell44 commented on #281
@jstockwin unfortunately I can't share it publicly, but I can use it for testing on my end. Thanks for the pointer - I'll check it out!

[2020-08-05 20:28] zangell44 commented on #281
Turns out it was a false alarm on my end, Adobe's hidden OCR text turned out to be the culprit. The text didn't match well with the pdf's display, but pdfminer was extracting it correctly.

If any one runs into a similar issue, you can check by
- Open document in Acrobat
- Navigate to "Scan & OCR"
- Select "Recognize Text"
- Check the box to "Review recognized text"

Thank you for your help anyway

[2020-08-06 18:22] tadeoos commented on #281
Hi all, thanks a lot for your time and work on this library! It's great to have a pure python tool for pdf text extraction.
Alas I think I'm seeing a similar issue and I'm not doing any OCR stuff.
I'm trying to extract annotations and my code is heavily based upon https://github.com/0xabu/pdfannots script.

The idea behind the script is something like:
1. For each page with annotation create an An

[2020-08-08 12:37] kensouchen commented on #281
Hi @tadeoos , I scanned through the code for pdfannots, I think its still trying to rearrange/reformat text with bbox of LTChar (class `Pos`).

If thats the case, then you could double check if LTChar bboxes makes sense after you parsed the PDF.

Sometimes I saw is that: LTChar is wrong itself, and i don't see anything could be done to improve LTChar in pdfminer.

[2020-08-11 15:36] tadeoos commented on #281
Hi @kensouchen, thanks a lot for your reply! I don't believe the `Pos` class is doing anything significant here... It's only reading bboxes data, doesn't overwrite it or anything.

Not sure what you mean here... I'm can check LTChar bboxes only while parsing and I'm doing this once (i.e. there is only one iteration of receiving layout on the converter)

Wouldn't in this case pdf reader apps also p

[2020-08-11 16:47] tadeoos commented on #281
Could you help me understand the `apply_matrix_pt` function? I dug a bit more and I think this is the origin of the incorrect LTChar position. What is this matrix and why are applying it to the bbox positions? Where do the matrix value come from?

[2020-08-11 20:29] Ev2geny commented on #366
I have found, that it is quite easy to add requested functionality to the code and the changes are backwards compatible.

So, I have created a pull request: https://github.com/pdfminer/pdfminer.six/pull/468

[2020-08-12 10:38] Ev2geny opened #469 "When run on Windows a lot of tests fail with the error: [Errno 13] Permission denied"
**A description of the bug**
When run on Windows a lot of tests fail with the error:   ``[Errno 13] Permission denied ```. E.g.:

[code]

The same tests run without error in Linux

**Steps to reproduce the bug.**

Just run tests from the ```tests``` folder

**Additional information**
Most likely it is related to the usage of the **NamedTemporaryFile** in test modules.
As described [here](https://s

[2020-08-14 10:27] alexkillen opened #470 "KeyError: 'ID' when running pdf2txt.py"
Unfortunately I cannot include the PDF as it is a bank statement, but hopefully the details below are enough.

The error is as follows:

[code]

The error occurs when attempting to access the 'ID' property of the File Trailer, but as can be seen in the DEBUG line in the above output, 'ID' is not in the trailer. Note that 'ID' is listed as optional in the PDF spec: https://www.adobe.com/content/dam

[2020-08-17 18:55] igavronski commented on #460
I am sorry! I got no warning on this response. I will check as soon as possible and get back to you.

[2020-08-17 19:07] igavronski commented on #460
@jstockwin -- In fact, your solution relies on font size. This is not possible for 95% of the papers in my library. I needed to walk through the bookmarks structure, which is what `dumppdf.py` does.
Any ideas?

[2020-08-17 19:09] igavronski commented on #460
See:
[code]

[2020-08-19 09:36] MartinThoma opened #472 "DOC: Is it possible to check if a PDF is a valid PDF/A-1 or PDF/A-2?"
Can I check with pdfminer.six if there is active content within the PDF?

[2020-08-20 00:45] jsvine opened #473 "Bug in new .paint_path logic"
**Bug report**

First off, thank you for this wonderful library! This is my first time opening an issue on this project, but I've been watching (and using and appreciating) `pdfminer.six` for a long time.

Commit https://github.com/pdfminer/pdfminer.six/commit/60863cfd555715df7dae54b17b090d4cedebc02e introduced new logic (still present at `develop`) for `PDFLayoutAnalyzer.paint_path(...)`, via PR

[2020-08-20 18:38] danich1 opened #474 "Bug in high_level.py extract_text uses caching regardless of parameter settings"
This is a quick bug to fix. Within high_level.py `extract_text` function use caching regardless of caching being passed in as False. Easiest way to fix this is to replace line 109:

[code]

with

[code]

Also line 144 should have `caching=True` be within parenthesis as well.

[2020-08-23 00:01] micmalti opened #476 "No /Root object! - Is this really a PDF?"
Hi,

I've got this PDF (see attachment) which opens just fine in a PDF viewer but fails to get parsed:

[code]
Steps to reproduce the bug:
[code]

[W020160201380721221093.pdf](https://github.com/pdfminer/pdfminer.six/files/5113288/W020160201380721221093.pdf)

[2020-08-24 17:39] a-franck opened #477 "Cannot pass None as parameter for --boxes-flow"
I cannot pass the value None to the parameter --boxes-flow when executing pdf2txt.py from the command line:

pdf2txt.py: error: argument --boxes-flow/-F: invalid float value: 'None'

According to the help, this should be possible:

  --boxes-flow BOXES_FLOW, -F BOXES_FLOW
                        Specifies how much a horizontal and vertical position
                        of a text matters when de

[2020-08-24 19:50] luke4u opened #478 "split a multi-page pdf file into multiple pdf files"
**Feature request**

- A description of the feature you would like to have
As the title implies, a feature to save a pdf file by page. Each page can be saved as a pdf file.

- If relevant, the context that you are in. What are you trying to achieve?
generic feature, no specific context needed. It would be very valuable in cases, such as when users are only interested in certain pages. Or when file

[2020-08-25 08:57] jstockwin commented on #477
@a-franck thanks for reporting this. This was me not being careful enough when I enabled allowing boxes-flow to be `None`. I agree it's an issue and will fix it ASAP!

[2020-08-26 21:28] tmgcassidy opened #480 "Out of the box Mandarin Functionality"
**Feature request**

This is an amazing tool- but I cannot for the life of me figure out how to get the chinese language functionality set up, and there are no tutorials I can find

I am trying to scan chinese language PDFs and extract the characters the way PDFminer would do for an english language pdf

paragraph text looks like this when copied from the pdf:
[code]

I want it to look like:
[code

[2020-08-27 17:33] jacobtylerwalls commented on #478
FYI I use PyPDF2 for this.

[2020-08-28 22:36] Ev2geny commented on #466
@jstockwin, sorry for coming back to this, but I finally managed to reduce bank extract to ping-point the problem, by editing out all confidential information.

See attached [sberbank_reduced_to_problem_EN.pdf](https://github.com/pdfminer/pdfminer.six/files/5144391/sberbank_reduced_to_problem_EN.pdf)

Is there any way to tweak pdf miner to produce the following output out of the attached file:

==

[2020-08-30 06:08] arvindpdmn opened #481 "Wrong conversion for a specific file"
**Bug report**

Spaces between words are missing in HTML. Output is unreadable. See attachment of page 1 of HTML output. Conversion used the following code on PDF file [https://www.aclweb.org/anthology/E17-1087.pdf](https://www.aclweb.org/anthology/E17-1087.pdf):
[code]

I did the same conversion online at [https://www.pdftohtml.net/](https://www.pdftohtml.net/) and I got correct output.

![Screen

[2020-08-31 05:30] SherlockHua1995 opened #482 "Helvetica typeface not recognized"
**Bug report**

Thanks for finding the bug! To help us fix it, please make sure that you
include the following information:

- A description of the bug
- Steps to reproduce the bug. Try to minimize the number of steps needed.
  Include the command and/or script that you use. Also include the PDF that
  you use.
- If relevant, include the output and/or error stacktrace.

Hello，I am applying pdfplum

[2020-08-31 22:28] Ev2geny commented on #469
At the end I seem to have found quite a simple solution. Just close temporary test file, before running the text. Like this:

[code]

[2020-09-03 15:40] geoffwalmsley opened #485 "functions from pdfminer.high_level are not found"
Description:
Importing from pdfminer.high_level causes import errors. Specifically:

- extract_text and extract_pages fails
- extract_text_to_fp works

Reproduce:
[code]

Error output:
---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
<ipython-input-23-b03587d9bc4a> in <module>
----> 1 from pdfmin

[2020-09-04 09:21] zypriafl commented on #136
This is still an issue for us. Unfortunately I cant share the PDF.
Maybe the attached screenshot from our sentry logs helps in understanding the problem.

![Screenshot from 2020-09-04 11-18-21](https://user-images.githubusercontent.com/6725189/92223373-ac3bce00-eea0-11ea-85db-bf5d2687181b.png)

[2020-09-07 12:39] Borstix opened #487 "Text recognized as one big box"
I am detecting anchor words to automatically place the signature of the user at the correct position.

[code]
Most pdf files work this way. On some files, complete parts of the document body are recognized as one text box so I am not getting the position of the anchor word ("Greetings") but the position of the "Box" which begins e.g. 20 lines above.

A document with this error is here: [https://nx

[2020-09-07 13:21] jstockwin commented on #487
Hey @Borstix,

You need to adjust your Layout Parameters. See https://pdfminersix.readthedocs.io/en/latest/reference/composable.html#laparams and https://pdfminersix.readthedocs.io/en/latest/topic/converting_pdf_to_text.html.

In your case, you can reduce the `line_margin` which is what controls how close two lines need to be before they are grouped.

If you change `laparams = LAParams()` to `lapa

[2020-09-07 13:41] Borstix commented on #487
Hi @jstockwin ,
Wow, I did not expect this prompt reaction time, thank you very much! Your fix is working very well!

Greetings
Sebastian

[2020-09-07 13:41] #487 closed

[2020-09-09 05:43] Colanim commented on #368
I had similar problem in my PDF, I could solve it by normalizing the PDF using `mutools` :

[code]

---

I think it's also possible to normalize it with `ghostscript` :

[code]

[2020-09-09 06:33] Colanim opened #490 "Math formula position are detected wrongly"
### Description

In my PDF I have some math formula. I encounter no problem when reading the file with `pdfminer`, but the position of the math is wrong.

Because of this, `pdfminer` can't group text into meaningful paragraph.

### Files

[p1.pdf](https://github.com/pdfminer/pdfminer.six/files/5192985/p1.pdf)

### Code

[code]

### Result

<LTTextBoxHorizontal(6) 89.997,606.158,241.137,618.158 'Me

[2020-09-09 06:34] Colanim commented on #485
Can you tell what the following code return for you ?

[code]

[2020-09-09 07:27] pietermarsman commented on #368
@Colanim that's very interesting! Up until now I assumed that these kind of problems cannot be fixed, because the unicode translation is simply not stored in the pdf. But this assumes that in your case it was stored, and `mutools` was able to recover/repair it. Do you by any chance still have the pdf?

[2020-09-09 08:25] Colanim commented on #368
I do have the PDF but unfortunately this is confidential, I can't share it...

[2020-09-09 08:32] jstockwin commented on #490
I agree there is an issue here... the bounding box for the `fs` is way too low, and this is causing the rest of the text to be interpreted wrong.

![image](https://user-images.githubusercontent.com/8227759/92574679-517aeb80-f27f-11ea-95ff-b1d5003fdea7.png)

I'm afraid I am not very familiar with the part of the code than handles this, and don't have much time at the moment, so am not sure what a f

[2020-09-09 08:41] geoffwalmsley commented on #485
Hi - thanks for getting back to me.

This what is in dir(pdfminer)
['__builtins__', '__cached__', '__doc__', '__file__', '__loader__',
'__name__', '__package__', '__path__', '__spec__', '__version__']

Thanks

On Wed, Sep 9, 2020 at 8:35 AM Cola <notifications@github.com> wrote:

[2020-09-09 08:49] Colanim commented on #490
Hey thanks for the fast answer !

Quick question, how did you display the boxes in blue like this ? In my browser, the bounding boxes are fine.

Is it a debug tool specific to `pdfminer` ?

[2020-09-09 09:01] Colanim commented on #485
For me uninstalling and reinstalling fixed the problem.

[code]

[2020-09-09 09:05] jstockwin commented on #490
Hey! It's actually using a tool I built on top of `pdfminer.six` (py-pdf-parser), so no it's not a debug tool specific to `pdfminer`, but for me it allows me to check these things quite quickly. I have seen other people posting similar screenshots, so I think it may be possible some other way too.

I notice that when I highlight the text in my PDF viewer, certain lines appear way bigger than they

[2020-09-09 09:11] estshorter opened #491 "open_filename doesn't accept a pathlib object"
**Bug report**

If the `filename` argument is a `pathlib` object, it is mistakenly recognized as a file handler.
I think `open_filename` should accept a `pathlib` object.
https://github.com/pdfminer/pdfminer.six/blob/0b44f7771462363528c109f263276eb254c4fcd0/pdfminer/utils.py#L14-L25

[2020-09-09 14:31] geoffwalmsley commented on #485
This worked - also a couple of dependency issues I had to sort out. Thanks so much :)

[2020-09-09 14:31] #485 closed

[2020-09-09 15:15] bmteller commented on #214
This can be fixed by changing `line.startwith(b'trailer')` to `line.strip().startswith(b'trailer')`. https://github.com/pdfminer/pdfminer.six/blob/develop/pdfminer/pdfdocument.py#L102

the document has an xref table where the trailer keyword is indented.
[code]

[2020-09-09 15:22] bmteller opened #493 "Handle XREFs with missing startxref after trailer"
I have some PDF documents that look like:
[code]

So it looks kind of like its incrementally saved buts its missing
'startxref' and EOF after each table. Also, the early xref objects
reference objects later in the file so it is not due to incrementally
saving. The current code fails to parse the <</Root>> dictionary
because it assumes it is terminated with 'startxref'. So the last
two xref tables

[2020-09-09 23:03] matthewmcintire commented on #368
Mine was solved by neither mutool nor gs.

On Wed, Sep 9, 2020 at 1:26 AM Cola <notifications@github.com> wrote:

[2020-09-09 23:36] Colanim commented on #490
Thanks for your answer !

There must be a way, because my browser is fine :

![image](https://user-images.githubusercontent.com/43774355/92665124-b5191d80-f340-11ea-912e-f0559e765d51.png)

I will search more...

[2020-09-10 17:14] pietermarsman commented on #207
Its also very possible that pickle has a large overhead and that changing the file type reduces the file size, or makes it easier to compress.

[2020-09-10 17:28] #464 closed

[2020-09-10 18:51] pietermarsman opened #495 "PDFObjRef is not iterable"
**Bug report**

Copy of #471 (by @imochoa)

Sadly, I cannot upload the problematic PDFs due a non-disclosure agreement. I can however point out the issue and share my fix.

When trying to instantiate a PDFCIDFont object at:
https://github.com/pdfminer/pdfminer.six/blob/0b44f7771462363528c109f263276eb254c4fcd0/pdfminer/pdfinterp.py#L193

Where
[code]

The execution ends up at PDFStream.decode with:

[2020-09-10 19:08] Ev2geny commented on #366
With the reference to the  comment from @pietermarsman  in https://github.com/pdfminer/pdfminer.six/pull/468#issuecomment-690549778 I am reopening the issue (At least trying)

I must say I am not sure, I understand what is what you mean that I have to implement functionality using an (extension of) PDFDevice?

I was looking for a place in the code, where at the moment this intermediate space is in

[2020-09-10 19:09] #474 closed

[2020-09-11 01:57] NeoWang9999 opened #496 "substituting the missing font"
## Feature request
handle PDF file that does not contain any embedded font.

from [this](https://github.com/jsvine/pdfplumber/issues/269) issue.

## example PDF file
[Sponsorship Agreement Template (CN) 1-未改动.pdf](https://github.com/pdfminer/pdfminer.six/files/5205464/Sponsorship.Agreement.Template.CN.1-.pdf)

## example code

[code]
now the pageList is empty, because this PDF does not contain any

[2020-09-12 08:59] typhoon71 opened #497 "DOCS: some more about interactive forms"
Now that the AcroForm howto is merged, I suppose I can consider some other cases.
I waited after the PR got merged because it was becaming difficult for me to keep focused.

- AcroForms with recursive fields structure
I did prepare the code to process those, but I'd like to talk a bit on how to format the output, which in some cases can be... funny.
Would it be better to discuss it here or to prep

[2020-09-12 10:40] pietermarsman commented on #469
This looks like a genuine issue with the tests. It doesn't need to actually open the file in this code, it just needs to generate a temporary file path _and_ remove it again at the end of the test.

As a fix we could use a to-be created `TemporaryFilePath()` context manager that passes the path on `__enter__()` and deletes the file path again on `__exit__()`.

I don't like closing the `NamedTempor

[2020-09-12 12:22] pietermarsman commented on #136
Hi. I did some digging in the PDF reference to see if what is specified about using color spaces. But could not find anything yet that prescribes the structure.

In cases like this, I like to know the specifications from the PDF reference. Then we can implement it (and refer to it in a comment) the way it is specified. And we also know what is specified PDF behavior, and what is an "anomaly PDF" t

[2020-09-12 12:25] pietermarsman opened #498 "Stop using nose for testing"
Nose is [not actively developed ](https://nose.readthedocs.io/en/latest/index.html)anymore.

We should switch to another, more modern, testing framework. I think pytest is the goto solution right now.

[2020-09-12 12:51] pietermarsman commented on #491
Hi @estshorter,

I was hesitant at first, because there might be a lot of other packages that also do some kind of path representation. And they probably all can map it to a string (which we already support). But since pathlib is a python core package we can support it.

When changing this, it should also be more verbose in case of any expected input. So maybe use `isinstance(something, io.IOBase)

[2020-09-12 13:03] pietermarsman opened #499 "Add docs on AcroForms with recursive field structure"
Now that the AcroForm howto is merged, I suppose I can consider some other cases.
I waited after the PR got merged because it was becaming difficult for me to keep focused.

AcroForms with recursive fields structure. I did prepare the code to process those, but I'd like to talk a bit on how to format the output, which in some cases can be... funny. Would it be better to discuss it here or to prepa

[2020-09-12 13:05] pietermarsman commented on #497
I like the second idea the most. People searching for "how to extract xfa forms from a pdf" will end up there, and will be very much helped if the howto works for them.

So lets focus this issue / upcoming PR on the XFA forms? I edited the description to reflect this. Also created #496 for focussing on the recusive AcroForm's.

[2020-09-12 13:09] pietermarsman commented on #482
Hi @SherlockHua1995,

Can you share the PDF and the code you are using?

[2020-09-13 09:46] pietermarsman commented on #493
Hi @bmteller,

Thanks for opening the issue. I'm not yet sure what to do with it. It seems like your PDF's are obviously broken. At this point I don't know yet how far pdfminer.six should go in supporting "broken" PDF's. That's why I attached the `type:anomaly` label to this issue. If you filter the issues you can see that this is not the only anomaly PDF. In fact, PDF is kind of known for its var

[2020-09-13 10:26] pietermarsman commented on #466
You could also use a negative value for `line_margin`. This means that he lines need to overlap at least by this (relative) amount. And by disabling `boxes_flow` you get the "words" from top to bottom first.

[code]

(Note that the output is in exactly the expected order, only with blank spaces inserted in between.)

[2020-09-13 10:31] pietermarsman commented on #463
The method `extract_pages` gives you the pdfminer.six representation of the PDF. You can iterate over it to get all the characters or curves.

Have a look at this tutorial: https://pdfminersix.readthedocs.io/en/latest/tutorial/extract_pages.html

[2020-09-13 10:31] #463 closed

[2020-09-13 10:40] pietermarsman commented on #470
Since it is

we should indeed make this more robust by assuming the value can be missing.

It looks like there is no sensible default. So using a tuple of two empty bytes is ok.

I suggest using `trailer.get('ID', [b'', b''])`.

[2020-09-13 10:44] pietermarsman commented on #496
It works fine when I use the command-line interface:

[code]

In your code fragment you never initialize `pageList` as a list. Could that have something to do with it?

[2020-09-13 10:52] pietermarsman commented on #473
Thanks for the thorough analysis! I would really like it if you file a PR.

This method is ideal for unit testing, and we have some of them. But perhaps you could add your examples to the unit test as well. See _test_converter.py_.

[2020-09-14 06:12] Beants commented on #447
@gaojie058 also currious how you did it. Is there a way we can add your solution to pdfminer.six?

[2020-09-14 13:13] Ev2geny commented on #466
@pietermarsman , thanks for looking at this.
even in your example I still didn't get exactly the output I needed. Namely: some of the elements go on the new line (compare with the [desired output](https://github.com/pdfminer/pdfminer.six/issues/466#issuecomment-683175192))

I found, that playing with the **char_margin** I can put 750,00 and -750,00 on the same line. So, if  **10 <= char_margin <=

[2020-09-15 07:12] Arwa200 opened #501 "erro"
Hi,
when I'm trying to run this tool, I got this error..

![Screen Shot 2020-09-15 at 10 10 06 AM](https://user-images.githubusercontent.com/42224049/93177710-e1b3a780-f73b-11ea-9b3b-3dd3017850f1.png)

Thank you

[2020-09-15 08:09] zypriafl commented on #136
Hi @pietermarsman

the PDF with this issue is a financial statement. I can share the PDF as it is. You mentioned I could create a minimal reproducible example 'by removing all the text but keep the colorspace.' Are there some references / tutorials on how to do this?

[2020-09-15 15:25] typhoon71 commented on #497
I'll work on this in the weekend and see what I an put together.

Btw, Interactive Forms should be #499, not #466.

[2020-09-15 15:25] typhoon71 commented on #499
I'll work on this after #497 is done.

[2020-09-16 07:04] Jessica870807 opened #502 "Figure detected incorrect"
While using PDFminer at this type of PDF files to obtain items, whole pdf page is detected as Figure which is incorrect extraction.

This type of File for instance:
[no1-1.pdf](https://github.com/pdfminer/pdfminer.six/files/5230236/no1-1.pdf)
[no3-1.pdf](https://github.com/pdfminer/pdfminer.six/files/5230247/no3-1.pdf)
[no5-1.pdf](https://github.com/pdfminer/pdfminer.six/files/5230250/no5-1.pdf)

[2020-09-16 12:42] samkit-jain commented on #476
@micmalti I was able to resolve this issue by repairing the PDF via Ghostcript. Command I run:
[code]

[The repaired PDF.](https://github.com/pdfminer/pdfminer.six/files/5232199/ttt1.pdf)

[2020-09-17 05:34] estshorter opened #503 "Drop Python 3.4/3.5 support"
**Feature request**

EOL of Python 3.4 and 3.5 are 2019/3 and 2020/9, respectively.
How about dropping support of these versions this October so that we can enjoy new features like f-strings?

[2020-09-17 18:50] pietermarsman commented on #503
Yes, that's a great suggestion! Didn't know that python 3.5 is also already eol. This will also help with #362.

Let's deprecate them for one release before actually removing them.

[2020-09-17 18:55] pietermarsman commented on #476
I've labelled this as an anomaly. I.e. a pdf that cannot be parsed because it deviates from the PDF reference specification. These are currently not a priority for pdfminer.six but it could be in the future.

In general, these problems are fixed by using `ghostscript` or `mutools`. This suggests that pdfminer.six could do the same.

[2020-09-17 18:56] pietermarsman commented on #502
Hi @Jessica870807,

Thanks for sharing the issue. Can you add the code you are using to the description of this issue?

[2020-09-17 19:03] pietermarsman commented on #136
I don't know of any tutorial on this. I used `mutools` once to clean the document and edited it manually with vim. Another option is to extract only a single page if there is a page without sensitive information. Or maybe there are tools to replace all text with x's or something like that.

[2020-09-17 19:07] pietermarsman commented on #501
Hi @Arwa200

You can do `pdf2txt.py` instead of `python pdf2txt.py`. That should work if you installed pdfminer.six with pip.

(Also note that we don't support python2 anymore since January. If you use python3 you get a slightly more robust pdfminer.six).

[2020-09-17 19:07] #501 closed

[2020-09-17 19:24] pietermarsman commented on #466
I cannot find any setting that gets the desired output. But I'm not sure why a low line-margin and a high char-margin don't give the expected result. In my head, this should merge everything horizontally and keep everything vertically separate. But it doesn't. So this needs some thorough analysis.

[2020-09-17 19:29] #491 closed

[2020-09-17 19:35] pietermarsman commented on #496
Closing this while awaiting response.

[2020-09-17 19:35] #496 closed

[2020-09-17 19:43] pietermarsman commented on #366
The structure of pdfminer.six is divided into a couple of components.

- The `PDFDocument` represents the PDF in the language of PDF
- The `PDFInterpreter` represents the PDF as text (and figure) objects with x and y positions (and more properties). The `LAParams` govern this representation.
- The `PDFDevice` represents the PDF as another output format. E.g. as text, html or xml.

So the `PDFDevic

[2020-09-17 19:46] pietermarsman commented on #214
Looks like a valid solution. Feel free to implement if you have the time.

[2020-09-18 19:28] Ev2geny opened #504 "Is support for Python 3.4 still needed?"
Is it still needed to support / test against Python 3.4?

Python 3.4 is not a supported version of python any longer:

One can't officially download it, nor documentation is available nor the source code.  If CI test fails only for version 3.4 ([like in my case](https://travis-ci.org/github/pdfminer/pdfminer.six/builds/728400820)), it is difficult to troubleshoot it.

[2020-09-18 19:29] Ev2geny opened #505 "Is support for Python 3.4 still needed?"
Is it still needed to support / test against Python 3.4?

Python 3.4 is not a supported version of python any longer:

One can't officially download it, nor documentation is available nor the source code.  If CI test fails only for version 3.4 ([like in my case](https://travis-ci.org/github/pdfminer/pdfminer.six/builds/728400820)), it is difficult to troubleshoot it.

[2020-09-18 19:31] #505 closed

[2020-09-18 19:32] Ev2geny commented on #504
Just see, that it is duplicate of https://github.com/pdfminer/pdfminer.six/issues/503
will close it

[2020-09-18 19:32] #504 closed

[2020-09-18 20:07] Ev2geny commented on #466
Ok, thanks for the answer. I have resolved my immediate need with [my own code.](https://github.com/Ev2geny/Sberbank2Excel/blob/master/core/pdf2txtev.py)) I will also try to look at what is going wrong. Can you mark this issue as a bug meanwhile may be?

[2020-09-18 20:12] Ev2geny commented on #502
I just noticed, that my Adobe Acrobat Reader DC version 2020.012.20043 Displays an error, when opening these files

_An error exists on this page. Acrobat may not display page correctly. Please contact the person who created the PDF document to correct the problem_

[2020-09-21 03:34] Beants opened #506 "TypeError: unsupported operand type(s) for +: 'float' and 'bytes'"
**Bug report**

- Description of the bug
[code]
-  I'm sorry I can't provide my sample pdf file, because this is a company secret, but I can provide the file header.
[code]

- When this bug appears, all the parameters are as follows: <name, value, type>
[code]

- I fixed this problem with this simple method, but I am not sure if this is the best solution.

[code]

[2020-09-21 20:11] Ev2geny commented on #366
@pietermarsman , thanks for explanation. It makes sense what you said, but when I look at the code, I see, that this already existing specific functionality of separating words by a single space is implemented outside of  ```PDFDevice```.  Namely ```PDFLayoutAnalyzer``` (which inherits from ```PDFDevice```) calls method **analyze** of the **LTLayoutContainer** [here](https://github.com/pdfminer/pd

[2020-09-22 09:43] sagniknitr opened #508 "pdf2txt.py cannot be found in windows anaconda environment"
- A description of the bug

  once you install pdfminer.six in anaconda, you cannot run pdf2txt.py

- Steps to reproduce the bug. Try to minimize the number of steps needed.

1) Start anaconda in windows
2) pip3 install pdfminer.six
3) pdf2txt.py samples/simple1.pdf

[2020-09-24 13:42] apdullahyayik opened #509 "Malware Detection"
Are action types like "Launch", "JavaScript", ''GoToR" ... i.e. detected in an automatic  way ? getobj method in PDFDocument never get an object that has JS action.

[2020-09-24 20:57] eoinof opened #510 "Crash in PDFSimpleFont.__init__ (& monkey patch workaround)"
**Bug report**

I'm seeing a crash in the latest release of pdfminer.six (20200726)
with certain PDF files. Unfortunately for privacy reasons I can't share these.

The crash is caused because the 'encoding' variable in
pdffont.PDFSimpleFont.__init__

is a list, as opposed to either a dict or a string

This is the value of 'encoding' that triggers the crash
[code]

Stacktrace:
[code]

I understand

[2020-09-25 08:30] zypriafl commented on #136
@pietermarsman Unfortunately, there isn't a single page that I can share with you.
I took another PDF from internet and replicated the issue using the text editor.

Does this help in replicating the issue?
[PDF_Color_Secrets.pdf](https://github.com/pdfminer/pdfminer.six/files/5281497/PDF_Color_Secrets.pdf)

[2020-09-26 04:18] Ocruc28 opened #511 "AttributeError: 'PDFParser' object has no attribute 'seek'"
**Bug report**
Environemnt:
window64--Python 3.6 + Spyder 3.2.8 + pdfminer.six-20200726

======code============
[code]
===code============

============ error stacktrace===================

- parser = PDFParser(fp)

[code]

- document` = PDFDocument(parser)

[code]